{% extends "layout.html" %}


{% load i18n %}
{% load product_tags %}

{% block title %}
{{ offer.name }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{{ homepage_url }}">{% trans "Home" %}</a>
    </li>
    <li>
        <a href="{% url 'offer:list' %}">{% trans "Offers" %}</a>
    </li>
    <li class="active">{{ offer.name }}</li>
</ul>
{% endblock %}

{% block headertext %}{{ offer.name }}{% endblock %}

{% block content %}

    {% if not offer.is_available %}
        <div class="alert alert-danger">{% trans " This offer is no longer available." %}</div>
    {% endif %}

    {% if upsell_message %}
    <div class="row">
        {% if offer.description %}
            <div class="col-sm-7">
                <p>{{ offer.description|safe }}</p>
            </div>
        {% endif %}
            <div class="col-sm-5">
                <div class="well">
                    <h2 class="h4"><i class="icon-exclamation-sign icon-large"></i> {% trans "What you need to do" %}</h2>
                    <p>{{ upsell_message }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if products %}
        <section>
            <div>
                {% include "partials/pagination.html" %}
                <ol class="row">
                    {% for product in products %}
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">{% render_product product %}</li>
                    {% endfor %}
                </ol>
                {% include "partials/pagination.html" %}
            </div>
        </section>
    {% else %}
    <p class="nonefound">{% trans "No products found." %}</p>
    {% endif %}
{% endblock content %}
