{% extends "catalogue/detail.html" %}
{% load i18n %}
{% load reviews_tags %}

{% block product_review %}
{% include "catalogue/partials/review_totals.html" %}

<div id="addreview" class="review_add">
    <h3>{% trans "Leave a product review" %}</h3>
    <form id="add_review_form" method="post" action="./#addreview" class="well form-stacked" >
    <fieldset>
            {% csrf_token %}
            {% include "partials/form_fields.html" with form=form %}
            <button type="submit"  class="btn btn-primary" data-loading-text="{% trans 'Submitting...' %}">{% trans "Submit" %}</button>
            {% trans "or" %}
            <a href="{{ product.get_absolute_url }}" >{% trans "cancel" %}</a>
    </fieldset>
    </form>
</div>
{% endblock %}
