{% load i18n %}
{% load product_tags %}

{% block content %}
<div class="promotion-block product-list">
    <h3>{{ promotion.name }}</h3>
    <p>{{ promotion.description|safe }}</p>
    <ol class="row-fluid">
        {% for product in products %}
        <li class="span3 {% if forloop.counter0|divisibleby:"4" %}no-margin{% endif %}">{% render_product product %}</li>
        {% endfor %}
    </ol>
    {% if block.link_url %}
        <a href="{{ block.link_url }}" class="read-more">{% trans "See more" %} <i class="icon-arrow-right"></i></a>
    {% endif %}
</div>
{% endblock %}
