{% load i18n %}
{% load product_tags %}

{% block content %}
<div class="promotion-block">
    <h3>{{ promotion.name }}</h3>
    <p>{{ promotion.description|safe }}</p>
    <ol class="products four">
        {% for product in products %}
        <li {% if forloop.counter|divisibleby:"4" %}class="no-margin"{% endif %}>{% render_product product %}</li>
        {% endfor %}
    </ol>
    {% if block.link_url %}
        <a href="{{ block.link_url }}" class="read-more">{% trans "See more" %} <i class="icon-arrow-right"></i></a>
    {% endif %}
</div>
{% endblock %}
