{% load i18n %}
{% load product_tags %}

{% block content %}
<section class="product-carousel">
    <h3>{{ promotion.name }}</h3>
    <div class="well">
        <p>{{ promotion.description|safe }}</p>
        <div class="flexslider">
            <ul class="slides">
                {% for product in products %}
                <li>{% render_product product %}</li>
                {% endfor %}
            </ul>
        </div>
        {% if block.link_url %}
            <a href="{{ block.link_url }}" class="read-more">{% trans "See more" %} <i class="icon-arrow-right"></i></a>
        {% endif %}
    </div>
</section>
{% endblock %}
