{% load currency_filters %}
{% load basket_tags %}
{% load thumbnail %}
{% load i18n %}

<div class="product-single-carousel promotion_single">
    <h3>{{ promotion.name }}</h3>
    <div class="flexslider">
        <ul class="slides">
            {% for product in products %}
            <li>
                {% include "promotions/partials/productsingle.html" %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="hr"><i class="icon-noun_project_62"></i></div>
