{% extends "layout.html" %}
{% load staticfiles %}
{% load promotion_tags %}
{% load i18n %}

{% block body_class %}home-page{% endblock body_class %}

{% block header %}
{% endblock %}

{% block page_promotions %}
<div id="homepage-carousel" class="flexslider hidden-phone">
    <ul class="slides">
        <li>
            <a href="#"><img src="{% static "demo/img/carousel/homepage-banners-01.jpg" %}" alt="{{ shop_name }} - {{ shop_tagline }}"  width="140" height="108" /></a>
        </li>
        <li>
            <a href="#"><img src="{% static "demo/img/carousel/homepage-banners-02.jpg" %}" alt="{{ shop_name }} - {{ shop_tagline }}"  width="140" height="108" /></a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
    
    {% comment %}
        Markup on this page is somewhat temporary. Class wrappers with
        'widget' are probably to be used as fancypage widgets and will 
        be removed from here.
        'homepage-carousel' and structural classes could also be included in that statement.
    {% endcomment %}
    
    <div class="row-fluid">
        <div class="span8">
            <div class="row-fluid">
                <div class="span6">
                    <div class="promotion-block widget-image-link">
                        <a href="#">
                            <img src="{% static "demo/img/carousel/banner-01.jpg" %}" alt="{{ shop_name }} - {{ shop_tagline }}"  >
                            <h3>{% trans "Shop Mens" %} <i class="icon-arrow-right hidden-phone"></i></h3>
                        </a>
                    </div>
                </div>
                <div class="span6">
                    <div class="promotion-block widget-image-link">
                        <a href="#">
                            <img src="{% static "demo/img/carousel/banner-02.jpg" %}" alt="{{ shop_name }} - {{ shop_tagline }}"  >
                            <h3>{% trans "Shop Womens" %} <i class="icon-arrow-right hidden-phone"></i></h3>
                        </a>
                    </div>
                </div>
            </div>

            <div class="promotion-block widget-image-link large">
                <a href="#">
                    <img src="{% static "demo/img/carousel/banner-03.jpg" %}" alt="{{ shop_name }} - {{ shop_tagline }}"  >
                    <h3>{% trans "Full range of teamwear and accessories" %}<small>{% trans "More than half price on selected items*" %}</small> <i class="icon-arrow-right hidden-phone"></i></h3>
                </a>
            </div>


            {% for promotion in promotions_page %}
                {% render_promotion promotion %}
            {% endfor %}
        </div>
        <div class="span4">
            <div class="promotion-block widget-delivery">
                <h3 class="free-delivery"><i class="icon-earth"></i><span>{% trans "World wide delivery" %}</span></h3>
                <p>{% trans "We ship worldwide from our warehouses in Melbourne, Australia and other locations depending on brand and destination." %}</p>
                <a href="#" class="btn">{% trans "Find out more" %}</a>
            </div>

            <div class="promotion-block widget-shipping">
                <h3 class="free-delivery"><i class="icon-truck"></i> <span><span>{% trans "Free shipping" %}</span><br/> <strong>{% trans "For all orders over $300" %}</strong></span></h3>
                <p>{% trans "We offer Free Shipping for all orders over $300*." %}</p>
                <a href="#" class="btn">{% trans "Find out more" %}</a>
            </div>

            {% for promotion in promotions_right %}
                {% render_promotion promotion %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
                    
