{% load staticfiles %}

{% if promotion.image %}
    {% if promotion.link_url %}
        <div class="promotion-block widget-image-link">
            <a href="{{ promotion.link_url }}">
                <img src="{% static promotion.image.url %}" alt="{{ promotion.name }}" />
                <h3>{{ promotion.name }} <i class="icon-arrow-right hidden-phone"></i></h3>
            </a>
        </div>
    {% else %}
        <img src="{% static promotion.image.url %}" title="{{ promotion.name }}" />
    {% endif %}
{% endif %}