{% extends "base.html" %}

{% load currency_filters %}
{% load promotion_tags %}
{% load category_tags %}

{% block body_class %}checkout-page{% endblock body_class %}

{% block layout %}
<div id="layout">
    <header class="header">
        <div class="container-fluid">
            <div class="header-content">
                <div>
                    {% include "partials/brand.html" %}
                </div>
             </div>
        </div>
        {% block checkout-nav %}
        {% endblock %}
    </header>

    <div class="page">
        <div class="container-fluid">
            {% include 'partials/alert_messages.html' %}
            {% block header %}{% endblock %}

           <div class="page_inner">
                <!-- The main nav on checkout pages contain links to modal flatpages -->
                {% block modal %}
                    {% load flatpages %}
                    {% get_flatpages '/order/' as flatpages %}
                    {% for page in flatpages %}
                    <div id="{{ page.title|slugify }}" class="modal hide fade">
                        <div class="modal-header">
                            <a class="close" data-dismiss="modal">×</a>
                            <h3>{{ page.title }}</h3>
                        </div>
                        <div class="modal-body">
                            <div class="large-content">
                                {{ page.content|safe }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endblock %}

                {% block content %}{% endblock %}

                <div id="promotions">
                    {% for promotion in promotions_page %}
                        {% render_promotion promotion %}
                    {% endfor %}
                </div>
            </div><!-- /page_inner -->
        </div>
    </div>
    <div id="faux-foot"></div>
</div>

{% include "partials/footer.html" %}
{% endblock %}
