{% extends "base.html" %}

{% load currency_filters %}
{% load promotion_tags %}
{% load category_tags %}
{% load compress %}
{% load staticfiles %}
{% load i18n %}

{% block body_class %}checkout-page{% endblock body_class %}

{% block extrahead %}
    <script src="{% static "demo/js/modernizr/modernizr.js" %}" type="text/javascript" charset="utf-8"></script>    
    <!--[if lte IE 7]><script src="{% static "demo/fonts/lte-ie7.js" %}"></script><![endif]-->
{% endblock %}

{% block layout %}
<div id="layout">
    <header class="header clearfix">
        <div class="container-fluid">
            <div class="header-content">
                <div>
                    {% include "partials/brand.html" %}
                </div>
                <div class="hidden-phone">
                    <p><a href="https://www.verisign.com.au" target="_blank" title="https://www.verisign.com.au"><i class="verisign"></i></a></p>
                    <p>{% trans "We accept" %} <br/> <i class="credit-cards"></i></p>
                </div>
             </div>
        </div>
        {% block checkout_nav %}
        {% endblock %}
    </header>

    <div class="page">
        <div class="container-fluid">
            {% include 'partials/alert_messages.html' %}
            

           <div class="page_inner">
                {% block header %}{% endblock %}
                <!-- The main nav on checkout pages contain links to modal flatpages -->
                {% block modal %}
                    {% load flatpages %}
                    {% get_flatpages '/order/' as flatpages %}
                    {% for page in flatpages %}
                    <div id="{{ page.title|slugify }}" class="modal hide fade">
                        <div class="modal-header">
                            <a class="close" data-dismiss="modal">×</a>
                            <h3>{{ page.title }}</h3>
                        </div>
                        <div class="modal-body">
                            <div class="large-content">
                                {{ page.content|safe }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endblock %}

                {% block content %}{% endblock %}

                <div id="promotions">
                    {% for promotion in promotions_page %}
                        {% render_promotion promotion %}
                    {% endfor %}
                </div>
            </div><!-- /page_inner -->
        </div>
    </div>
    <div id="faux-foot"></div>
</div>

{% include "partials/footer.html" %}
{% endblock %}

{% block extrascripts %}
{% compress js %}
    {% include "partials/extrascripts.html" %}
{% endcompress %}
{% endblock %}
