{% extends 'oscar/checkout/payment_details.html' %}
{% load i18n %}

{% block payment_details %}
    <div class="page-header">
        <h1>{% trans "Enter payment details" %}</h1>
    </div>

    {% block payment_details_content %}
    <h3>{% trans "Pay with a bankcard" %}</h3>
    <form action="{% url 'checkout:preview' %}" class="payment-details form-horizontal" method="post">
        <div class="well well-info">
            {% csrf_token %}
            {% include 'partials/form_fields.html' with form=bankcard_form %}
            <div class="alert alert-warning">
                <h4>{% trans "Demo site help" %}</h4>
                <p>{% trans "You can use a magic card number of 1000010000000007 together with an CVV number." %}</p>
            </div>
        </div>
        <button type="submit" class="pull-right btn btn-large btn-primary">{% trans "Continue" %}</button>
    </form>
    {% endblock %}
{% endblock payment_details %}
