#foreach ($clusters in $response.response.clusters)
    #set($labels = $clusters.get('labels'))
    #set($docs = $clusters.get('docs'))
    <h3>#foreach ($label in $labels)$label#if( $foreach.hasNext ),#end#end</h3>
        <ol>
        #foreach ($cluDoc in $docs)
          <li><a href="#url_for_home?q=id:$cluDoc">$cluDoc</a></li>
        #end
        </ol>


#end