{% load basket_tags %}
{% load thumbnail %}
{% load i18n %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}

<div class="row-fluid">
    <div class="span6">
        <div class="image_container"> 
            {% with image=product.primary_image %}
            {% thumbnail image.original "200x200" upscale=False as thumb %}
                <a href="{{ product.get_absolute_url }}"><img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}"></a>
            {% endthumbnail %}
            {% endwith %}
        </div>    
    </div>
    <div class="span6">
        <div class="single-content">
            {% if session.availability.is_available_to_buy %}
                <h4>{{ session.stockrecord.partner.name }}</h4>
            {% endif %}
            <h2><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h2>
            <h3 class="price_color">{% include "catalogue/partials/stock_record.html" %}</h3>
            <p>{{ promotion.description|safe|truncatechars:200 }}</p>

            {% if product.is_group %}
                <a class="btn btn-large" href="{% url 'catalogue:detail' product.slug product.id %}">{% trans "View range" %}</a>
            {% else %}
                {% if session.availability.is_available_to_buy %}
                    {% basket_form request product 'single' as basket_form %}
                    <form action="{% url 'basket:add' %}" method="post">
                        {% csrf_token %}
                        {{ basket_form.as_p }}
                        <button type="submit" class="btn btn-large btn-primary btn-full" data-loading-text="{% trans 'Adding...' %}">{% trans "Add to basket" %}</button>
                    </form>
                {% else %}
                    <span class="btn btn-large btn-info disabled">{% trans "Out of Stock" %}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
