# disabled. We might run it manually if needed.
name: pre-commit

on:
  workflow_dispatch:
#  pull_request:
#  push:
#    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      # SEE https://github.com/pre-commit/action
      - uses: pre-commit/action@v3.0.1
