// Core variables and mixins
@import "bootstrap/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "bootstrap/mixins.less";
@import "page/osc_mixins.less";

// OSCAR DASHBOARD UNIQUE STYLES
// -----------
body {
  background:#fff;
}
.container-fluid {
  padding-left: @gridGutterWidth;
  padding-right: @gridGutterWidth;
  max-width:100%;
}
.navbar-fixed-top .navbar-inner {
  padding-left:  20px;
  padding-right: 20px;
}
.subnav-fixed {
  position: fixed;
  right: 0;
  left: 0;
  z-index: @zindexFixedNavbar;
  top:40px;
  .box-shadow(0 1px 5px rgba(0,0,0,.1));
  border-bottom:1px solid #D5D5D5;
}
.subnav {
  #gradient > .vertical(#f5f5f5, #eee);
  height:36px;
  width: 100%;
}
.subnav {
  .nav {
    padding-left:  20px;
    padding-right: 20px;
    > li {
      > a {
        margin: 0;
        padding-top: 11px;
        padding-bottom: 11px;
        border-left: 1px solid #f5f5f5;
        border-right: 1px solid #E5E5E5;
        .border-radius(0);
      }
    }
  }
} 
.reports .subnav li.Reports > a,
.orders .subnav li.Manage.orders > a,
.users .subnav li.Users > a,
.content-blocks .subnav li.Content.blocks > a,
.catalogue .subnav li.Catalogue > a,
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #E9E9E9;
  border-right-color: #DDD;
  border-left: 0;
  .box-shadow(inset 0 3px 5px rgba(0,0,0,.05));
}
.breadcrumb {
  margin-top:100px;
} 
.content {
  background:#fff;
  /*-webkit-box-shadow: -5px 5px 7px 0px rgba(0, 0, 0, .2);
    -moz-box-shadow: -5px 5px 7px 0px rgba(0, 0, 0, .2);
    box-shadow: -5px 5px 7px 0px rgba(0, 0, 0, .2);
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;*/
  .page-content {
      padding:30px 0px;
  }
}
button {
  background-color:transparent;
}
.primary-nav,
.primary-nav ul {
  margin:0px;
  padding:0px;
}    
.primary-nav {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding:0px;
  background:#f7f7f7;
  border:1px solid #bbb;
  width:240px;
  position:fixed;
}
.primary-nav li {
  display:block;
}
.reports .primary-nav li.Reports > a,
.orders .primary-nav li.Manage.orders > a,
.users .primary-nav li.Users > a,
.content-blocks .primary-nav li.Content.blocks > a,
.catalogue .primary-nav li.Catalogue > a {
  color: @blue;
  text-shadow: 1px 1px 1px #fff;
  filter: dropshadow(color=#fff, offx=1, offy=1);
}
.primary-nav li ul li {
  margin:0px;
  border-top:1px solid #ddd;
  font-size: @baseFontSize - 2;
}
.primary-nav li ul li:first-child {
  border-top:1px solid #bbb;
}
.primary-nav a {
  display:block;
  padding:5px 15px;
}
.primary-nav > li > a {
  background:#ddd;
  border-top:1px solid #bbb;
  -webkit-box-shadow: inset -1px 1px 0px 0px rgba(255, 255, 255, .5);
  -moz-box-shadow: inset -1px 1px 0px 0px rgba(255, 255, 255, .5);
  box-shadow: inset -1px 1px 0px 0px rgba(255, 255, 255, .5);
  font-weight:bold;
  color:#444;
}
.primary-nav li:first-child > a {
  border-top:none;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
}
.primary-nav li ul li a:hover {
  background:#efefef;
}
.primary-nav .submenu {
  background:url(../img/ui/icon_arrow_left.png) no-repeat 94% 50% #ddd;
}
.primary-nav .viewed {
  background:url(../img/ui/icon_arrow_down.png) no-repeat 94% 50% #ddd;
}
.primary-nav li:first-child .submenu {
  border-top:none;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
}
.primary-nav li:last-child .submenu {
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
}
.page-header {
  background-color: @white;
  padding: 10px 20px 10px 0px;
  margin-bottom:0px;
  h1 {
/*        font-size: 24px;
        line-height: 36px;*/
    }
}
h3 {
  margin-bottom:@baseLineHeight / 4;
}
.search-adv {
  .control-group.pull-left {
    > label {
      width: 100px;
    }
    .controls {
      margin-left: 120px;
      > label {
        padding-left:0px;
      }
      .radio {
        ul {
          .horiz_col();
          li {
            label {
              display: inline-block;
              padding-top: 5px;
              margin-bottom: 0;
              vertical-align: middle;
              margin-left: 10px;
              padding-left: 18px;
            }
          }
        }
      }
    }
  }
}
.product-new {
  .form-inline.pull-left {
    margin-right:15px;
  }
}
.no-float {
  float:none;
}
.control-group.pull-left.no-float {
  > label {
    width: 140px;
  }
  .controls {
    margin-left: 160px;
  }
}
.pull-left.btn {
  margin-left:20px;
}
.pull-left.no-float.btn {
  margin-left:160px;
}
.page-header.action {
  .clearfix();
  margin-bottom:0px;
  .open .dropdown-toggle {
    color:#fff;
    background:#444;
  }
  .btn {
    margin-left:10px;
  }
  .tabs .dropdown-menu {
    top:48px;
    left:10px;  
  }
  .tabs {
    border-width:0px;
    margin-bottom:0px;
  }
  h1,h2 {
    float:left;
    margin-bottom:0px;
  }
  .orders_search {
    clear:both;
    margin-bottom: @baseLineHeight;
  }
  .pull_out.viewed {
    background-color:rgba(0, 0, 0, 0.05);
    margin-bottom:@baseLineHeight;
  }
  .pull_out,
  a.dd_menu {
    display:block;
    float:left;
    line-height: @baseLineHeight * 2 - 4;
    font-size: @baseFontSize + 5;
    margin-left:10px;
    padding:4px 10px;
    color:@linkColor;
    &:hover {
    }
    &.viewed {
      -moz-border-radius-topleft: 4px;
      -moz-border-radius-topright: 4px;
      -moz-border-radius-bottomright: 0px;
      -moz-border-radius-bottomleft: 0px;
      -webkit-border-radius: 4px 4px 0px 0px;
      border-radius: 4px 4px 0px 0px;
    }
  }
  a.dd_menu {
    &:hover {
      background:#444;
      color:#fff;
    }
  }
}
.controls {
  ul {
    margin-left:0px;
    list-style:none;
  }
}
/*.form-inline {
  margin-bottom:0px;
}*/
.icon:before {
  padding:7px 6px;
  background:@black;
  #translucent > .background(@black,0.15);
  .border-radius(20px);
  color:@white;
  margin-right:5px;
}
.file_upload {
  .clearfix();
  form, p {
    float:left;
  }
  label {
    width:auto;
    padding-top:0px;
    margin-right:10px;
  }
  input {
    line-height:@baseLineHeight;
    background:none;
  }
}
.alert-message.block-message.file_upload p {
  margin-right:10px;
}
.order_table {
  label {
    width:auto;
    margin-left:20px;
    line-height:27px;
    float:left;
    margin-right:10px;
    &:first-child {
      margin-left:10px; 
    }
  }
  table {
    margin-top:@baseLineHeight;
  }
  .row {
    margin-left:0px;
  }
}
.tabs.product_managment {
  margin-bottom:0px;
  li.active a {
    background-color:#efefef;
  }
}

.tabbable.dashboard {
  .nav {
    margin-bottom:0px;
  }
  .nav-tabs > li > a {
    background: #f5f5f5;
    #gradient > .vertical(#ccc, #fff);
    border: 1px solid #DDD;
    margin: 6px 10px 0 0;
    color: @gray;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  }
  .nav-tabs > li.active a,
  .nav-tabs > li > a:hover {
    background: #f5f5f5;
    border-bottom-color: transparent;
    #gradient > .vertical(@grayLighter, #fff);
    border-bottom: 1px solid #fff;
    outline: none;
    font-weight: bold;
    color: #0088CC;
    margin-top: 0;
    height: 20px;
  }
  .tab-content {
    padding:@baseLineHeight;
    border:1px solid darken(@grayLighter, 5%);
    border-top-width:0px;
    background:#fff;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
.fields-full {
  input[type=text],
  textarea {
    width:99%;
  }
}