{% extends "base.html" %}

{% load currency_filters %}
{% load promotions %}

{% block layout %}
    <div id="container">
        <div id="header">
            <p><a href="{% url promotions:home %}">Oscar // Flexible e-commerce for Django</a></p>
            
            <form method="get" action="{% url search:search %}">
                {{ search_form.as_p }}
                <input type="submit" value="Go!" /> 
            </form>
            
            {% if user.is_authenticated %}
                <a href="{% url customer:summary %}">Profile</a>
                <a href="{% url customer:logout %}">Logout</a>
            {% else %}
                <a href="{% url customer:login %}">Login</a>
            {% endif %}
            
            Basket total: {{ basket.total_incl_tax|currency }}
            <a href="{% url basket:summary %}">View basket</a>
            
            {% block header %}
            {% endblock %}
        </div>
        <div id="content">
        
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            
            <div id="promotions">
                {% for promotion in promotions_page %}
                    {% render_promotion promotion %}
                {% endfor %}
            </div>
            
            {% block content %}{% endblock %}
        </div>
        <div id="footer">{% block footer %}{% endblock %}</div>
    </div>
{% endblock %}
