{% extends "layout.html" %}

{% load currency_filters %}

{% block header %}
<div class="page-header">
    <h2>Address book</h2>
</div>
{% endblock header %}


{% block content %}
<div class="sub-header">
    <h3>Confirm address deletion</h3>
</div>
<h3>Confirm address deletion</h3>
<form action="." method="post" class="form-horizontal">
    {% csrf_token %}
    {% include "partials/form_fields.html" with form=form %}
    <div class="form-actions">
        <input type="submit" value="Delete address" class="btn"/>
    </div>
</form>

{% endblock content %}

