{% extends "layout.html" %}
{% load currency_filters %}

{% block title %}
Update address | {{ block.super }}
{% endblock %}

{% block header %}
<div class="page-header">
    <h2>Address book</h2>
</div>
{% endblock header %}

{% block content %}
<div class="sub-header">
    <h3>Edit address</h3>
</div>
<form action="." method="post" class="form-horizontal">
    {% csrf_token %}
    {% include "partials/form_fields.html" with form=form %}
    <div class="form-actions">
        <input type="submit" value="Save address" class-"btn btn-primary"/>
        or
        <a href="{% url customer:address-list %}">cancel</a>
    </div>
</form>

{% endblock content %}

