{% extends "layout.html" %}

{% load currency_filters %}

{% block header %}
<div class="page-header">
    <h2>Address book</h2>
</div>
{% endblock header %}


{% block content %}
<div class="sub-header">
    <h3>Add address</h3>
</div>
<form action="." method="post" class="form-stacked">
    {% csrf_token %}

	<input type="hidden" name="test" value="v1" />
	<input type="hidden" name="test" value="v2" />	

    {% include "partials/form_fields.html" with form=form %}
    <div class="form-actions">
        <input type="submit" value="Save address" class="btn btn-primary" />
    </div>
</form>

{% endblock content %}

