{% extends "layout.html" %}

{% load currency_filters %}

{% block header %}
<div class="page-header">
    <h2>Address book</h2>
</div>
{% endblock header %}


{% block content %}

{% if addresses %}
<ul>
    {% for address in addresses %}
    <li>
        {{ address.summary }}
        <a href="{% url customer:address-detail address.id %}">Edit</a> | 
		<a href="{% url customer:address-delete address.id %}">Delete</a>
    </li>
    {% endfor %}
</ul>
{% else %}
There are no addresses in your address book.
{% endif %}

<div class="form-actions"><a href="{% url customer:address-create %}" class="btn btn-primary">Add a New Address</a></div>

{% if page_obj %}
    {% include "catalogue/partials/pagination.html" %}
{% endif %}


{% endblock content %}

