{% extends "layout.html" %}

{% load currency_filters %}

{% block header %}
<h2>Address book</h2>
{% endblock header %}


{% block content %}

{% if addresses %}
<ul>
    {% for address in addresses %}
    <li>
        {{ address.summary }}
        <a href="{% url oscar-customer-address address.id %}">Edit</a> | 
        <form action="{% url oscar-customer-address address.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="delete" />
            <input type="submit" value="Delete" />
        </form>
    </li>
    {% endfor %}
</ul>
{% else %}
There are no addresses in your address book.
{% endif %}

{% if page_obj %}
<div class="pagination">
    <span class="step-links">
    
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock content %}

