{% extends "layout.html" %}
{% load currency_filters %}

{% block title %}
Address book | {{ block.super }}
{% endblock %}

{% block header %}
<div class="page-header">
    <h2>Address Book</h2>
</div>
{% endblock header %}


{% block content %}

{% if addresses %}
    {% for address in addresses %}
<table class="table table-striped table-condensed">
	<tbody>
		<tr>
			<th>
				<address>
        		{{ address.summary }}
				</address>
			</th>
		</tr>
		<tr>
			<td>
        		<a class="btn btn-primary" href="{% url customer:address-detail address.id %}">Edit</a> | 
		<a href="{% url customer:address-delete address.id %}">Delete</a>
			</td>
		</tr>
	</tbody>
</table>
    {% endfor %}
{% else %}
There are no addresses in your address book.
{% endif %}

<div class="form-actions"><a href="{% url customer:address-create %}" class="btn btn-primary">Add a New Address</a></div>

{% if page_obj %}
    {% include "catalogue/partials/pagination.html" %}
{% endif %}


{% endblock content %}

