{% extends "layout.html" %}
{% load currency_filters %}
{% load thumbnail %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url promotions:home %}">Home</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url customer:summary %}">Account</a>
        <span class="divider">/</span>
    </li>
	<li class="active"><a href=".">Change password</a></li>
</ul>
{% endblock %}


{% block title %}
Change password {{ block.super }}
{% endblock %}

{% block header %}
<div class="page-header">
    <h2>Change password</h2>
</div>
{% endblock header %}


{% block content %}

<form action="." method="post">
	{% csrf_token %}
	{% include 'partials/form_fields.html' with form=form %}
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">Update password</button>
		or <a href="{% url customer:summary %}">cancel</a>.
	</div>
</form>

{% endblock content %}
