{% extends "layout.html" %}

{% load currency_filters %}

{% block header %}
<div class="page-header">
    <h1>Login / Register</h1>
</div>
{% endblock header %}


{% block content %}

<div class="row-fluid">
    <div class="span6 login_form">
        <form action="{{ request.get_full_path }}" method="post" class="form-stacked" />
            <h2>Log In</h2>
            {% csrf_token %}
            {% include "partials/form_fields.html" with form=login_form %}
            <input name="login_submit" type="submit" value="Log In" class="btn" />
        </form>
    </div>
    <div class="span6 register_form">
        <form action="{{ request.get_full_path }}" method="post" class="form-stacked" />
            <h2>Register Here</h2>
            {% csrf_token %}
            {% include "partials/form_fields.html" with form=registration_form %}
            <input name="registration_submit" type="submit" value="Register" class="btn" />
        </form>
    </div>
</div>    

{% endblock content %}