{% extends 'dashboard/layout.html' %}
{% load url from future %}
{% load i18n %}

{% block title %}
    {{ title }} | {% trans "Create product type" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url 'dashboard:catalogue-class-list' %}">{% trans "Product Type" %}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{{ title }}</li>
    </ul>
{% endblock %}

{% block headertext %}{{ title }}{% endblock %}

{% block dashboard_content %}
    <div class="table-header">
        <h2>{{ title }}</h2>
    </div>
    <div class="well">
        {% include 'partials/form.html' with includes_files=1 class='wysiwyg' %}
    </div>
{% endblock dashboard_content %}
