# http://editorconfig.org

root = true

[*]
charset = utf-8
indent_style = space
insert_final_newline = true

[*.{scss,less,js}]
line_length = 119
indent_size = 2

[*.html]
indent_size = 4

[*.py]
line_length = 79
multi_line_output = 4

[*.yml]
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 4
