# Packaging
*.pyc
*.egg-info
/dist/
/build/
/node_modules/

# Vagrant
.vagrant

# Temporary/OS files
*.swp
*.swo
*.*~
.~lock.*
*.DS_Store
.python-version

# IDE files
.project
.pydevproject
.settings
.idea

# Docs
/docs/build/*
*.pdf
TODO

# Test files
.coverage
.noseids
coverage.xml
violations.txt
nosetests.xml
/.cache/
/htmlcov/*
/.tox/*

# Example sites
settings_local.py
/sites/sandbox/*.sqlite
/sites/sandbox/assets/
/sites/sandbox/public/
/sites/sandbox/whoosh_index/
/sites/sandbox/logs/
/sites/demo/*.sqlite
/sites/demo/assets/
/sites/demo/public/
/sites/demo/whoosh_index/
/sites/demo/logs/
/sites/us/*.sqlite
/sites/us/public/
/sites/us/logs/
sites/puppet/modules/
