# Packaging
*.pyc
__pycache__
*.egg-info
/dist/
/build/
/node_modules/

# Vagrant
.vagrant

# Temporary/OS files
*.swp
*.swo
*.*~
.~lock.*
*.DS_Store
.python-version

# IDE files
.project
.pydevproject
.settings
.idea

# Docs
/docs/build/*
*.pdf
TODO

# Test files
.coverage
.coverage\.*
.noseids
coverage.xml
violations.txt
nosetests.xml
/.cache/
/htmlcov/*
/.tox/*

# Sandbox content
settings_local.py
/sandbox/*.sqlite
/sandbox/assets/
/sandbox/public/
/sandbox/whoosh_index/
/sandbox/logs/
