*.pyc
local_settings.py
settings_local.py
fixtures/*
product-images/*
*.swp
*.swo
.project
.pydevproject
.settings
django_oscar.egg-info/
STORIES
docs/build/*
*.*~
examples/.coverage
assets/*
nbproject
examples/vanilla/assets/*
oscar/bin
oscar/include
oscar/lib
oscar/src
oscar/share
.~lock.*
dist/
*.DS_Store
sandbox/*.sqlite
sandbox/assets/*
.idea
TODO
.coverage
htmlcov/*
sandbox/public/
logs/
build/
*.pdf
sandbox/whoosh_index
