Andrew Ingram <andrew.ingram@tangentlabs.co.uk> AndrewIngram <andy@andrewingram.net>
Sebastian Vetter <sebastian.vetter@tangentone.com.au> Sebastian Vetter <sebastian@roadside-developer.com> Sebastian Vetter <sebastian.vetter@tangentsnowball.com.au>
Andy Sellick <andy.sellick@tangentone.co.uk> Andy Sellick <andy.sellick@tangentsnowball.com>
Patryk Zawadzki <patrys@pld-linux.org> Patryk Zawadzki <patrys@room-303.com>
John Papanastasiou <johnpapps@hotmail.com> John Papanastasiou <johnpapps@ubuntu.(none)>
Jonathan Moss <jonathan.moss@tangentone.com.au> Jonathan Moss <xirisr@gmail.com>
Kura <kura@deviling.net> Kura <kura@tangentlabs.co.uk>
Mohammad Abbas <mohammad.abbas86@gmail.com> Mohammad Abbas <mohammad@mohammad-abbas.(none)> Mohammad Abbas <mohammad@mohammad-laptop.(none)>
Oliver Randell <oliverrandell@gmail.com> OliverRandell <oliverrandell@gmail.com>
Paweł Kowalski <bitrut@gmail.com> Paweł Kowalski <contact@pawelkowalski.info>
Ashia Zawaduk <ashia@liftinteractive.com> Ashia <ashia@liftinteractive.com>
Tuna Vargi <tuna40@gmail.com> tuna vargi <tuna40@gmail.com>
