language: python
python:
  - 2.6
  - 2.7
env:
# NOTE: easy_install *will* downgrade if setup.py specifies a max version
# This causes the tests to run with the wrong Django version
  - DJANGO_VERSION=1.4.5
  - DJANGO_VERSION=1.5
install:
  - easy_install Django==$DJANGO_VERSION
script:
  - make travis
after_success:
  - coveralls
