# We link directly to the master branch of stores to pick up a few Oscar 0.5
# fixes.  This should be changed when oscar-stores 0.4 is released.
-e git+https://github.com/tangentlabs/django-oscar-stores@master#egg=django_oscar_stores-dev

# Similarly, we use the master of django-oscar-paypal and django-oscar-datacash
django-oscar-paypal>=0.4,<0.5
django-oscar-datacash>=0.4,<0.5

# We need PostGIS as the stores extension uses GeoDjango.
psycopg2==2.5

git+git://github.com/tinio/pysqlite.git@extension-enabled#egg=pysqlite
pysolr>=2.0.13,<2.1
