# These requirements are only necessary when developing on Oscar.

# development
Werkzeug==0.15.4
django-debug-toolbar==2.0
django-extensions==2.1.9
psycopg2>=2.7,<2.8 --no-binary psycopg2

# Sandbox
Pillow==6.1.0
Whoosh==2.7.4
django-environ==0.4.5
django-redis==4.10.0
pysolr==3.7.0
redis==3.1.0
requests==2.22.0
uWSGI==2.0.17.1
whitenoise==4.1.2

# Linting
flake8==3.6.0
flake8-debugger==3.1.0
flake8-blind-except==0.1.1
isort==4.3.21

# Helpers
pyprof2calltree==1.4.4
ipdb==0.12
ipython==7.6.1

# Country data
pycountry==18.12.8
