# We link directly to the master branch of stores to pick up a few Oscar 0.5 fixes.
-e git+https://github.com/tangentlabs/django-oscar-stores@master#egg=django_oscar_stores-dev

# We need PostGIS and all that jazz
psycopg2==2.5
