Pygments==1.4
Werkzeug==0.6.2
django-debug-toolbar==0.8.4
django-extensions==0.5
ipdb==0.2
ipython==0.10.1
wsgiref==0.1.2
flake8==0.8
pysolr==2.0.13
PyZen==0.3.1
mock==0.7.0
twill==0.9
-e git://github.com/AndrewIngram/django-extra-views.git@0f10416082c174275836a37141ce797b6caa2896#egg=django_extra_views-0.1.0-py2.6-dev