{% load i18n %}

{% block bulk-action-container %}
    <div class="bulk-action-container d-flex flex-column justify-content-center">
        <input type="hidden" name="select_across" value="0"/>
        {% block actions-counter %}
            <div class="bulk-actions ml-3">
                {% with count=object_list.count %}
                    <span class="action-counter" style="display:none;" data-objects-count="{{ count }}">
                        {% blocktranslate with count=count %}<span class="selected-records">0</span> of <span class="page-records-count">{{ count }}</span> selected{% endblocktranslate %}
                    </span>
                {% endwith %}
                {% if paginator.num_pages > 1 %}
                <span class="all" style="display:none;">{% blocktranslate with count=paginator.count %}All {{ count }} selected{% endblocktranslate %}</span>
                <span class="question ml-3" style="display:none;">
                    <a role="button" href="#" title="{% trans 'Click here to select the objects across all pages' %}">
                        {% blocktranslate with count=paginator.count module=view.context_object_name %}
                            Select all {{ count }} {{ module }}
                        {% endblocktranslate %}
                    </a>
                </span>
                <span class="clear ml-3" style="display:none;"><a role="button" href="#">{% trans "Clear selection" %}</a></span>
                {% endif %}
            </div>
        {% endblock actions-counter %}
    </div>
{% endblock bulk-action-container %}
