{% load widget_tweaks %}
<span class="error-block">{{ form.non_field_errors }}</span>
{% for field in form %}
    {% if field.is_hidden %}
        {{ field }}
    {% else %}
        <span class="form-group {% if field.errors %}error{% endif %}">
            {{ field.label_tag }}
            {% render_field field class+='form-control' %}
            {% for error in field.errors %}
                <ul class="error-block">
                    <li>{{ error }}</li>
                </ul>
            {% endfor %}
            {# No help text as it wraps #}
        </span>
    {% endif %}
{% endfor %}

