{% load i18n %}
<li class='sortable-handle'>
    {% for field in form %}
        {% if field.is_hidden %}
            {{ field }}
        {% elif "original" in field.id_for_label %}
            <div>{{ field }}</div>
            {% for error in field.errors %}
                <ul class="error-block">
                    <li>{{ error }}</li>
                </ul>
            {% endfor %}
            {% if form.instance.id %}
                <a href="#" class="btn btn-info btn-handle"><i class="icon-move icon-large"></i> {% trans "Re-order" %}</a><br>
            {% endif %}
        {% else %}
            {{ field.label_tag }}
            {{ field }}
            {% for error in field.errors %}
                <ul class="error-block">
                    <li>{{ error }}</li>
                </ul>
            {% endfor %}
        {% endif %}
    {% endfor %}
    {{ form.non_field_errors }}
</li>
