{% extends "layout.html" %}
{% load i18n %}

{% block title %}
{{ title }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url promotions:home %}">{% trans 'Home' %}</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url customer:summary %}">{% trans 'Account' %}</a>
        <span class="divider">/</span>
    </li>
	<li class="active"><a href=".">{{ title }}</a></li>
</ul>
{% endblock %}

{% block header %}
<div class="page-header">
	<h2>{{ title }}</h2>
</div>
{% endblock header %}

{% block content %}

<p>
	<a class="btn" href="{% url customer:notifications-inbox %}">Inbox</a>
	<a class="btn" href="{% url customer:notifications-archive %}">Archive</a>
</p>

{% if notifications %}
{% if page_obj %}
    {% include "catalogue/partials/pagination.html" %}
{% endif %}

<form action="{% url customer:notifications-update %}" method="post">
	{% csrf_token %}
	<table class="table">
		<tbody>
		{% for notification in notifications %}
		<tr>
			<td>
				<input type="checkbox" name="selected_notification" 
				value="{{ notification.id }}"/>
			</td>
			<td>
				{{ notification.subject|safe }} <br/>
				Send: {{ notification.date_sent }}<br/>
				Read: {{ notification.date_read }}
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	<button type="submit" class="btn" name="action" value="archive">Archive</button>
	<button type="submit" class="btn" name="action" value="delete">Delete</button>
</form>

{% if page_obj %}
    {% include "catalogue/partials/pagination.html" %}
{% endif %}

{% else %}
<p>There are no notifications to display.</p>
{% endif %}

{% endblock content %}

