<!DOCTYPE html> 
<html lang="{% block language %}en-gb{% endblock %}">
    <head>
        <title>{% block title %}Oscar :: Flexible ecommerce for Django{% endblock %}</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="created" content='{% now "jS M Y h:i" %}' />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}{% endblock %}" />
        <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
        {% block extra_head %}{% endblock %}
		<style>
		body {
			padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
		}
		</style>
    </head>
    <body id="{% block body_id %}default{% endblock %}" class="{% block body_class %}default{% endblock %}">
        {% block layout %}{% endblock %}
		<script type="text/javascript">
			$(function(){
				{% block onbodyload %}

				{% endblock %}
			});
		</script>
        {% block tracking %}
            {% if not debug and not request.user.is_staff %}
                <!-- Tracking to go here. -->
            {% endif %}
        {% endblock %}
    </body>
</html>