{% extends "base.html" %}

{% block layout %}
    <div id="container">
        <div id="header">
            <h1>Oscar // Flexible e-commerce for Django</h1>
            {% block header %}
            {% endblock %}
        </div>
        <div id="content">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% block content %}{% endblock %}
        </div>
        <div id="footer">{% block footer %}{% endblock %}</div>
    </div>
{% endblock %}
