{% extends "base.html" %}

{% block layout %}
    <div id="container">
        <div id="header">
            <h1>Oscar // Flexible e-commerce for Django</h1>
            <form method="get" action="{% url oscar-products %}">
                <label id="search_input">Search all products:</label>
                <input type="text" name="q" id="search_input" value="{{ search_term }}"/>
                <input type="submit" value="Go!" /> 
            </form>
            
            {% if user.is_authenticated %}
            <a href="">Profile</a>
            <a href="">Logout</a>
            {% else %}
            <a href="">Login</a>
            {% endif %}
            
            {% if banner %}
                {% if banner.has_link %}
                    <a href="{{ banner.link_url }}" title="{{ banner.name }}"><img src="{{ banner.image.url }}" alt="{{ banner.name }}" /></a>
                {% else %}
                    <img src="{{ banner.image.url }}" alt="{{ banner.name }}" />
                {% endif %}
            {% endif %}
            
            {% if pods %}
                {% for pod in pods %}
                    {% if pod.has_link %}
                        <a href="{{ pod.link_url }}" title="{{ pod.name }}"><img src="{{ pod.image.url }}" alt="{{ pod.name }}" /></a>
                    {% else %}
                        <img src="{{ pod.image.url }}" alt="{{ pod.name }}" />
                    {% endif %}
                {% endfor %}
            {% endif %}
            <a href="/admin/marketing/pod/add/?page_url={{ url_path }}" >Add a pod to this page</a>
            
            {% block header %}
            {% endblock %}
        </div>
        <div id="content">
        
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% block content %}{% endblock %}
        </div>
        <div id="footer">{% block footer %}{% endblock %}</div>
    </div>
{% endblock %}
