{% load i18n %}
{% load product_tags %}

{% if products %}
    <div class="product-carousel products-viewed">
        <h3>{% trans 'Products you recently viewed' %}</h3>
        <div class="well">
            <div class="flexslider">
                <ul class="slides">
                    {% for product in products %}
                    <li>
                        {% render_product product %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}

