{% extends "layout.html" %}

{% block header %}
<h2>Basket</h2>
{% endblock header %}


{% block content %}

{% if basket.is_empty %}
Your basket is currently empty.
{% else %}

<table>
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Unit price</th>
        <th>Line price</th>
    </tr>
    {% for line in basket.lines.all %}
    <tr>
        <td><a href="{% url oscar-product-item line.product.id %}">{{ line.product }}</a></td>
        <td>{{ line.quantity }}</td>
        <td>{{ line.get_unit_price }}</td>
        <td>{{ line.get_line_price }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="3">Total</td>
        <td>{{ basket.get_total }}</td>
    </tr>
</table>

{% endif %}

{% endblock content %}

