// OSCAR HEADER
// -----------
.header {
  
}
.header-content {
  height:108px;
  position: relative;
  margin-bottom:20px;
  h3 {
    font-weight: 300;
    text-transform: capitalize;
    font-size: @baseFontSize;
    line-height: @baseFontSize;
    margin:0;
    margin-left:160px;
    position: absolute;
    bottom:0;
  }
  .logo {
    float:left;
  }
  > div {
    .clearfix();
    width:50%;
    position:absolute;
    bottom:0;
    right:0;
    &:first-child {
      right:auto;
      left:0;
    }
  }
}
.cart {
  margin:0px;
  .clearfix();
  .cart_summary {
    strong {
      padding: 4px 10px 4px;
      display:block;
      span {
        font-weight:normal;
      }
    }
  }
  li {
    display:block;
    float:right;
    .btn-group {
      white-space: normal;
      .dropdown-menu {
        width:400px;
        padding-bottom:0px;
        max-width:none;
        li {
          float:none;
          display:block;
        }
      }
    }
  }
}
.basket_item {
  margin:0px;
  li {
    width:auto;
    border-top:1px solid @grayLighter;
    padding:10px 15px;
    &:first-child { border-top:none; }
  }
  .image_container {
    min-height: 70px;
    img {
      max-height: 70px;
    }
    a {
      padding:0;
    }
  }
  .form-actions {
    -webkit-border-radius: 0 0px 6px 6px;
    -moz-border-radius: 0 0px 6px 6px;
    border-radius: 0 0px 6px 6px;
    p {
     .clearfix();
     .btn {
       float:right;
     }
    }
    margin:0px;
    h4 {
      text-align:right;
      margin-bottom:@baseFontSize;
      small {
        display:block;
      }
    }
  }
  a {
    color:@linkColor;
    font-weight:inherit;
    white-space:normal;
    &.btn {
      color:#fff;
    }
  }
  h4 {
    font-size:14px;
    margin:0;
    a {
      padding:0px;
    }
  }
}
// OSCAR FOOTER UNIQUE STYLES
// -----------
.footer {
  background: url(/static/demo/img/ui/wavecut-blue.png) 0 0 repeat @blueDark;
  a {
    color:@white;
  }
}
.footer-links {
  padding:40px 0;
  margin-left:0;
  .clearfix();
  a {
    display:block;
    padding:5px 0;
  }
  h3{
    font-size: @headingFourSize;
    color:@white;
    margin-bottom:20px;
  }
  ul {
    margin-left: 0;
  }
  li {
    list-style: none;
  }
    > li {
    float:left;
    width:20%;
  }
}
.footer-disclaimer {
  background:#091624;
}
