{% extends "partials/google_analytics.html" %}

{% block extratracking %}
    ga('require', 'ecommerce', 'ecommerce.js');
    ga('ecommerce:addTransaction', {
      'id': '{{ order.number|escapejs }}',
      'affiliation': '{{ shop_name|escapejs }}',
      'revenue': '{{ order.total_incl_tax|escapejs }}',
      'shipping': '{{ order.shipping_incl_tax|escapejs }}',
      'tax': '{{ order.total_tax|escapejs }}',
      'currency': '{{ order.currency|escapejs }}'
    });

    {% for line in order.lines.all %}
    ga('ecommerce:addItem', {
      'id': '{{ order.number }}',
      'name': '{{ line.title|escapejs }}',
      'sku': '{{ line.partner_sku|escapejs }}',
      'category': '{{ line.category|default:"Uncategorised"|escapejs }}',
      'price': '{{ line.unit_price_incl_tax }}',
      'quantity': '{{ line.quantity }}'
    });
    {% endfor %}
    ga('ecommerce:send');
{% endblock %}

