{% load currency_filters %}
<div class="page-header">
<h2>{{ promotion.name }}</h2>
</div>

<p>{{ promotion.description }}</p>
<!-- Elastislide Carousel -->
<div id="carousel" class="es-carousel-wrapper">
    <div class="es-carousel">
<ul>
{% for product in promotion.get_products %}
<li>
	{% with product.images.all.0 as image %}
    <div class="image_container">
        <a href="{{ product.get_absolute_url }}"><img class="thumbnail" src="{{ image.original.url }}" alt="{{ product.get_title }}"></a>
    </div>    
    {% endwith %}
    <a href="{{ product.get_absolute_url }}">{{ product.get_title }}</a><br/>
    {% if product.is_group %}
        From {{ product.min_variant_price_incl_tax|currency }}
    {% else %}
        {% if product.has_stockrecord %} 
            {{ product.stockrecord.price_incl_tax|currency }}<br/>
            {{ product.stockrecord.availability }}
        {% else %}
            Not available    
        {% endif %}
    {% endif %}    
</li>
{% endfor %}
</ul>
    </div>
</div>
<!-- End Elastislide Carousel -->

{% if block.link_url %}
    <a href="{{ block.link_url }}">See more</a>
{% endif %}


