{% load currency_filters %}

{% load basket_tags %}

<article class="well promotion_single">
    <div class="sub-header">
    	<h2>{{ promotion.name }}</h2>
    </div>
    {% with product=promotion.product %}
    <div class="row-fluid">
    	<div class="span3">
    		{% with promotion.product.images.all.0 as image %}
    		<div class="image_container"> 
    			<a href="{{ product.get_absolute_url }}"><img class="thumbnail" src="{{ image.original.url }}" alt="{{ product.get_title }}"></a>
    		</div>    
    		{% endwith %}
    		<div class="product_price">
    			{% if product.is_group %}
    				<p>From {{ product.min_variant_price_incl_tax|currency }}</p>
    			{% else %}
    				{% if product.has_stockrecord %} 
    					<h4><span>{{ product.stockrecord.price_incl_tax|currency }}</span></h4>
    					<p class="app-ico instock avaliability">{{ product.stockrecord.availability|truncatewords:2|slice:"-4" }}</p>
    				{% else %}
    				<p class="app-ico outstock avaliability">Not available</p>
    				<button class="btn">Notify me</button> 
    				{% endif %}
    			{% endif %}
    		</div>
    	</div>
    	<div class="span9">
    	    <h3>{{ promotion.product.title }}</h3>
    	    {% block product_review %}
    		    {% with product.reviews.all as reviews %}
    		        {% if reviews %}
    		            <ul class="review_count">       
    			            {% for review in reviews %}
        			            <li class="{{ review.score }}">{{ review.score }}</li>
        			        {% endfor %}
    		            </ul>
    		        {% else %}
    		            <p class="star">No Rating</p>
    		        {% endif %}
    		    {% endwith %}
    		{% endblock product_review %}
    		<p>{{ promotion.description }}</p>
    	</div>
    </div>
    {% endwith %}
</article>
