{% extends "layout.html" %}

{% block header %}
<h2>Basket</h2>
{% endblock header %}


{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if basket.is_empty %}
Your basket is currently empty - go and <a href="/shop/product/">buy something</a>!
{% else %}

<table>
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Unit price excl tax</th>
        <th>Unit price tax</th>
        <th>Line price excl tax</th>
        <th>Line price incl tax</th>
    </tr>
    {% for line in basket.lines.all %}
    <tr>
        <td><a href="{{ line.product.get_absolute_url }}">{{ line.product }}</a></td>
        <td>
            <form action="{% url oscar-basket-line line.line_reference %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="decrement-quantity" value="1" />
                <input type="submit" value="-" />
            </form>
            <form action="{% url oscar-basket-line line.line_reference %}" method="post">
                {% csrf_token %}
                <input type="text" name="set-quantity" value="{{ line.quantity }}" />
                <input type="submit" value="Set" />
            </form> 
            <form action="{% url oscar-basket-line line.line_reference %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="increment-quantity" value="1" />
                <input type="submit" value="+" />
            </form>
            <form action="{% url oscar-basket-line line.line_reference %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="delete" value="1" />
                <input type="submit" value="Delete" />
            </form>
        </td>
        <td>{{ line.unit_price_excl_tax|floatformat:2 }}</td>
        <td>{{ line.unit_tax|floatformat:2 }}</td>
        <td>{{ line.line_price_excl_tax|floatformat:2 }}</td>
        <td>{{ line.line_price_incl_tax|floatformat:2 }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="4">Total</td>
        <td>{{ basket.total_excl_tax|floatformat:2 }}</td>
        <td>{{ basket.total_incl_tax|floatformat:2 }}</td>
    </tr>
</table>
<form action="/shop/basket/" method="post">
    {% csrf_token %}
    <input type="hidden" name="action" value="flush" />
    <input type="submit" value="Empty basket" />
</form>

{% endif %}

{% endblock content %}

