// OSC VARIABLES
// --------------------------------------------------

$font-family-sans-serif: "Open Sans", 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Page width
$oscar-page-width: 1280px;
// Image height
$image-container-height: 165px;

$form-actions-bg-color: $gray-100;
$form-actions-border-color: $gray-200;

$base-margin-bottom: 1rem !default;

$rated-star-color: #E6CE31;
