{% extends 'django_tables2/table.html' %}
{% load django_tables2 %}
{% load i18n %}


{% block table %}
<div class="panel panel-default">
    <div class="panel-heading">
        {% block table.heading %}
        <h3>
            {% if table.icon %}
              <i class="icon-{{ table.icon }} icon-large"></i>
            {% endif %}
            {{ table.get_caption_display }}
        </h3>
        {% endblock %}
    </div>
    {{ block.super }}
</div>
{% endblock %}

{% block pagination %}
{% with page_obj=table.page paginator=table.paginator %}
    {% include "dashboard/partials/pagination.html" %}
{% endwith %}
{% endblock pagination %}
