{% extends 'dashboard/layout.html' %}
{% load currency_filters %}

{% block title %}
Delete range #{{ range.id }}? | Range management | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url dashboard:index %}">Dashboard</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url dashboard:range-list %}">Ranges</a>
        <span class="divider">/</span>
    </li>
	<li class="active"><a href=".">Delete range '{{ range.name }}'?</a></li>
</ul>
{% endblock %}

{% block header %}
<div class="page-header">
	<h1>Delete range '{{ range.name }}'?</h1>
</div>
{% endblock header %}

{% block dashboard_content %}
<form action="." method="post" class="">
	{% csrf_token %}
	<div class="form-actions">
		<button class="btn btn-danger btn-large" type="submit">Delete</button> or
		<a href="{% url dashboard:range-list %}">cancel</a>
	</div>
</form>
{% endblock dashboard_content %}
