{% extends "layout.html" %}
{% load i18n %}

{% block title %}
{{ page_title }} | {% trans 'My account' %} | {{ block.super }}
{% endblock %}

{% block body_class %}account-profile{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url promotions:home %}">{% trans 'Home' %}</a>
        <span class="divider">/</span>
    </li>
	<li>
		<a href="{% url customer:summary %}">{% trans 'Account' %}</a>
		<span class="divider">/</span>
	</li>
	<li class="active">{{ page_title }}</li>
</ul>
{% endblock %}

{% block headertext %}
{% trans 'Account' %}
{% endblock %}

{% block content %}

<div class="tabbable">
	{% include 'customer/partials/nav_account.html' %}

    <div class="tab-content">
		<div class="tab-pane active">
			<div class="sub-header">
                {% block tabheader %}
                    <h3>{{ page_title }}</h3>
                {% endblock %}
			</div>
			{% block tabcontent %}
			{% endblock tabcontent %}
        </div>
    </div>
</div>

{% endblock content %}

