{% extends "layout.html" %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}

{% block title %}
{% trans "Basket" %} | {{ block.super }}
{% endblock %}

{% block checkout-nav %}
{% include 'checkout/nav.html' with step=1 %}
{% endblock %}

{% block header %}
<div class="page-header action">
    <h1>{% trans "Basket" %}</h1>
</div>
{% endblock header %}

{% block content %}
    {# Use a partial template so that AJAX can be used to re-render basket #}
    {% include 'basket/partials/basket_content.html' %}
{% endblock content %}

{% block onbodyload %}
oscar.basket.init();
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}oscar/js/oscar/checkout.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
