{% extends "layout.html" %}

{% load currency_filters %}

{% block header %}
<h2>Basket</h2>
{% endblock header %}


{% block content %}

<form action="." method="post">
	
	{% csrf_token %}
	
	{{ formset.management_form }}
	
	<table>
		<thead>
			<tr>
				<th>Product</th>
				<th>Availability</th>
				<th>Quantity</th>
				<th>Unit Price Excl. Tax</th>
				<th>Tax</th>
				<th>Line Price Excl. Tax</th>
				<th>Line Price Incl. Tax</th>
				<th>&nbsp;</th>				
			</tr>
		</thead>
		<tbody>
			{% for form in formset %}
			<tr>
				<td>{{ form.id }}<a href="{{ form.instance.get_absolute_url }}">{{ form.instance.description }}</a></td>
				<td>{{ form.instance.stockrecord.availability }}</td>
				<td>{{ form.quantity }}</td>
		        <td>{{ form.instance.unit_price_excl_tax|currency }}</td>
		        <td>{{ form.instance.unit_tax|currency }}</td>
		        <td>{{ form.instance.line_price_excl_tax|currency }}</td>
		        <td>{{ form.instance.line_price_incl_tax|currency }}</td>
				<td>{{ form.save_for_later }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	

	<input type="submit" value="Save Changes" />

</form>

{% if saved_basket and not saved_basket.is_empty %}

<h3>To buy later</h3>
<table>
    <tr>
        <th>Product</th>
        <th>Unit price excl tax</th>
        <th>Unit price tax</th>
        <th>Line price excl tax</th>
        <th>Line price incl tax</th>
    </tr>
    {% for line in saved_basket.lines.all %}
    <tr>
        <td><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></td>
        <td>
            <form action="{% url oscar-saved-basket-line line.line_reference %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="delete" />
                <input type="submit" value="Delete" />
            </form>
            <form action="{% url oscar-saved-basket-line line.line_reference %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="move_to_basket" />
                <input type="submit" value="Move to basket" />
            </form>
        </td>
        <td>{{ line.unit_price_excl_tax|currency }}</td>
        <td>{{ line.unit_tax|currency }}</td>
        <td>{{ line.line_price_excl_tax|currency }}</td>
        <td>{{ line.line_price_incl_tax|currency }}</td>
    </tr>
    {% endfor %}
    
</table>

{% endif %}

{% endblock content %}

