{% extends "layout.html" %}

{% load currency_filters %}
{% load thumbnail %}

{% block header %}
<h2>Basket</h2>
{% endblock header %}


{% block content %}

{% if basket.is_empty %}
Your basket is currently empty - go and <a href="{% url products:list %}">buy something</a>!
{% else %}

<h3>To buy now</h3>
<table>
    <tr>
        <th></th>
        <th>Product</th>
        <th>Availability</th>
        <th>Quantity</th>
        <th>Unit price excl tax</th>
        <th>Unit price tax</th>
        <th>Line price excl tax</th>
        <th>Line price incl tax</th>
    </tr>
    {% for line in basket.all_lines %}
    <tr>
        <td>
            {% for image in line.product.images.all %}
                {% thumbnail image.original "100" crop="center" as im %}
                    <a href="{{ line.product.get_absolute_url }}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
                {% endthumbnail %}
            {% endfor %}
        </td>
        <td><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></td>
        <td>{{ line.product.stockrecord.availability }}</td>
        <td>
            <form action="{% url oscar-basket-line line.line_reference %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="decrement_quantity" />
                <input type="hidden" name="quantity" value="1" />
                <input type="submit" value="-" />
            </form>
            <form action="{% url oscar-basket-line line.line_reference %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="set_quantity" />
                <input type="text" name="quantity" value="{{ line.quantity }}" />
                <input type="submit" value="Set" />
            </form> 
            <form action="{% url oscar-basket-line line.line_reference %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="increment_quantity"/>
                <input type="hidden" name="quantity" value="1" />
                <input type="submit" value="+" />
            </form>
            <form action="{% url oscar-basket-line line.line_reference %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="delete" />
                <input type="submit" value="Delete" />
            </form>
            {% if user.is_authenticated %}
            <form action="{% url oscar-basket-line line.line_reference %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="save_for_later" />
                <input type="submit" value="Save for later" />
            </form>
            {% endif %}
        </td>
        <td>{{ line.unit_price_excl_tax|currency }}</td>
        <td>{{ line.unit_tax|currency }}</td>
        <td>{{ line.line_price_excl_tax|currency }}</td>
        <td>{{ line.line_price_incl_tax|currency }}</td>
    </tr>
    {% endfor %}
    {% for discount in basket.discounts %}
    <tr>
        <td colspan="7">{{ discount.name }}</td>
        <td colspan="7">-{{ discount.discount|currency }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="6">Total</td>
        <td>{{ basket.total_excl_tax|currency }}</td>
        <td>{{ basket.total_incl_tax|currency }}</td>
    </tr>
</table>

<form action="{% url oscar-basket %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="action" value="add_voucher" />
    <label for="voucher_code">Code</label>
    <input type="text" name="voucher_code" id="voucher_code" />
    <input type="submit" value="Add voucher" />
</form>

<h4>Basket vouchers</h4>
<ul>
{% for voucher in basket.vouchers.all %}
    <li>
        <form action="{% url oscar-basket %}" method="POST">
            {% csrf_token %}
            {{ voucher.name }} ({{ voucher.code }})
            <input type="hidden" name="action" value="remove_voucher" />
            <input type="hidden" name="voucher_code" value="{{ voucher.code }}" />
            <input type="submit" value="Remove" />
        </form>
    </li>
{% endfor %}
</ul>

<form action="{% url oscar-basket %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="action" value="flush" />
    <input type="submit" value="Empty basket" />
</form>
<a href="{% url oscar-checkout-index %}">Checkout</a>

{% endif %}

<form action="{% url oscar-basket %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="action" value="bulk_load" />
    <label for="source_text">Enter block of text containing SKUs</label>
    <textarea name="source_text" rows="5" cols="50" id="source_text"></textarea>
    <input type="submit" value="Add items to basket" />
</form>

{% if saved_basket and not saved_basket.is_empty %}

<h3>To buy later</h3>
<table>
    <tr>
        <th></th>
        <th>Product</th>
        <th>Unit price excl tax</th>
        <th>Unit price tax</th>
        <th>Line price excl tax</th>
        <th>Line price incl tax</th>
        <th></th>
    </tr>
    {% for line in saved_basket.lines.all %}
    <tr>
        <td>
            {% for image in line.product.images.all %}
                {% thumbnail image.original "100" crop="center" as im %}
                    <a href="{{ line.product.get_absolute_url }}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
                {% endthumbnail %}
            {% endfor %}
        </td>
        <td><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></td>
        <td>{{ line.unit_price_excl_tax|currency }}</td>
        <td>{{ line.unit_tax|currency }}</td>
        <td>{{ line.line_price_excl_tax|currency }}</td>
        <td>{{ line.line_price_incl_tax|currency }}</td>
        <td>
            <form action="{% url oscar-saved-basket-line line.line_reference %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="delete" />
                <input type="submit" value="Delete" />
            </form>
            <form action="{% url oscar-saved-basket-line line.line_reference %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="move_to_basket" />
                <input type="submit" value="Move to basket" />
            </form>
        </td>
    </tr>
    {% endfor %}
    
</table>

{% endif %}

{% endblock content %}

