{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans 'Page not found' %} | {{ block.super }}
{% endblock %}

{% block layout %}
<div class="navbar accounts">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand hidden" href="{% url promotions:home %}">{{ shop_name }}</a>
            <ul class="nav pull-right">
                <li><a href="#">{% trans 'Home' %}</a></li>
                <li><a href="#about">{% trans 'About' %}</a></li>
                <li><a href="#contact">{% trans 'Contact' %}</a></li>
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                    <li><a href="{% url dashboard:index %}">{% trans 'Dashboard' %}</a></li>
                    {% endif %}
                <li><a href="{% url customer:summary %}">{% trans 'Profile' %}</a></li>
                <li><a href="{% url customer:logout %}">{% trans 'Logout' %}</a></li>
                {% else %}
                <li><a href="{% url customer:login %}">{% trans 'Login' %}</a></li>
                {% endif %}
            </ul>
        </div>
    </div><!-- /navbar-inner -->
</div><!-- /navbar -->

<div class="container-fluid">
    <div class="hero-unit">
        <h1>{% trans 'Oops, page not found!' %}</h1>
        <p>{% trans "The page you are looking for isn't here. Please try again, use the navigation above or feel free to send us your feedback. Thank you." %}</p>
        <p>
            <a class="btn btn-primary btn-large" onClick="javascript:history.go(-1);">{% trans 'Go back to previous page' %}</a>
        </p>
    </div>
</div>
{% endblock %}