{% extends "layout.html" %}
{% load promotion_tags %}

{% block content_wrapper %}
    <div class="container-fluid page">
        <div class="page_inner">	
            {% block breadcrumbs %}
            {% endblock %}

            <div class="row-fluid">
                <aside class="span3">
                    {% block column_left %} 
                    {% endblock %}
                </aside><!-- /span3 -->
                <div class="span6">
                    {% block header %}
                    {% endblock %}

                    {% block flatpage %}
                    {% endblock %}

                    {% block content %}
                    {% endblock %}
                </div><!-- /span6 -->
                <aside class="span3">
                    {% block column_right %} 
                    {% endblock %}
                </aside><!-- /span3 -->
            </div><!-- /row-fluid -->
        </div><!-- /page_inner -->
    </div><!-- /container-fluid -->
{% endblock %}
