{% extends "layout.html" %}
{% load i18n %}

{% block title %}
{% trans "Offers" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
	<a href="{% url promotions:home %}">{% trans "Home" %}</a>
        <span class="divider">/</span>
    </li>
    <li class="active">{% trans "Offers" %}</li>
</ul>
{% endblock %}

{% block headertext %}
    {% trans "Offers" %}
{% endblock %}

{% block content %}
    {% if not offers %}
    <p>{% trans "There are no site offers at the moment." %}</p>
    {% else %}
    {% for offer in offers %}
    <div class="well">
        <h4>{{ offer.name }}</h4>
        <p> {{ offer.description|safe }}</p>
        <p>
            <a class="btn" href="{% url offer:detail offer.slug %}">{% trans "Browse products in offer" %}</a>
        </p>
    </div>
    {% endfor %}
    {% endif %}
{% endblock content %}
