{% extends 'dashboard/layout.html' %}
{% load currency_filters %}

{% block title %}
Order {{ order.number }} - Line #{{ line.id }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url dashboard:index %}">Dashboard</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url dashboard:order-list %}">Orders</a>
        <span class="divider">/</span>
    </li>
    <li>
		<a href="{% url dashboard:order-detail order.number %}">#{{ order.number }}</a>
        <span class="divider">/</span>
    </li>
	<li class="active"><a href=".">Line #{{ line.id }}</a></li>
</ul>
{% endblock %}

{% block header %}
<div class="page-header">
    <h1>Order #{{ order.number }} - Line #{{ line.id }}</h1>
</div>
{% endblock header %}

{% block dashboard_content %}

<div class="row-fluid">
    <div class="span4">
        <h3>Product details</h3>
        <table class="table table-striped table-bordered">
            <tr>
        		<th>Title</th><td>{{ line.title }}</td>
            </tr>
            <tr>
        		<th>UPC</th><td>{{ line.upc|default:"-" }}</td>
            </tr>
            <tr>
        		<th>Quantity</th><td>{{ line.quantity }}</td>
            </tr>
        </table>
    </div>
    <div class="span4">
        <h3>Partner details</h3>
        <table class="table table-striped table-bordered">
            <tr>
        		<th>Status</th><td>{{ line.status|default:"-" }}</td>
            </tr>
            <tr>
        		<th>Partner</th><td>{{ line.partner_name }}</td>
            </tr>
            <tr>
        		<th>Partner SKU</th><td>{{ line.partner_sku }}</td>
            </tr>
        </table>
    </div>
    <div class="span4">
        <h3>Shipping details</h3>
        <table class="table table-striped table-bordered">
        	<tr>
        		<th>Partner reference number</th><td>{{ line.partner_line_reference|default:"-" }}</td>
        	</tr>
        	<tr>
        		<th>Partner notes</th><td>{{ line.partner_line_notes|default:"-" }}</td>
        	</tr>
        	<tr>
        		<th>Estimate dispatch date</th><td>{{ line.est_dispatch_date }}</td>
        	</tr>
        </table>
    </div>
</div>
{% endblock dashboard_content %}

