{% extends 'dashboard/layout.html' %}
{% load currency_filters %}

{% block title %}
Order {{ order.number }}
{% endblock %}

{% block header %}
    <h2>Order {{ order.number }}</h2>
{% endblock header %}

{% block dashboard_content %}

<h2>Order information</h2>
<table>
    <tr>
        <th>Date of purchase</th>
        <th>Time of purchase</th>
        <th>Status</th>
    </tr>
    <tr>
        <td>{{ order.date_placed|date:"d/m/y" }}</td>
        <td>{{ order.date_placed|date:"H:s" }}</td>
        <td>{{ order.status|default:"N/A" }}</td>
    </tr>
</table>

<h2>Customer</h2>
{% if order.user %}
<table>
    <tr>
        <th>Username</th>
        <td><a href="{% url dashboard:user-detail order.user.id %}">{{ order.user.username }}</a></td>
    </tr>
    <tr>
        <th>Name</th>
        <td>{{ order.user.get_full_name|default:"-" }}</td>
    </tr>
    <tr>
        <th>Email address</th>
        <td>{{ order.user.email|default:"-" }}</td>
    </tr>
</table>
{% else %}
<p>Customer checked out anonymously.</p>
{% endif %}

<h2>Payment</h2>
{% with sources=order.sources.all %}
{% if sources %}
<table>     
    <thead>  
        <tr>
            <th>Source</th>
            <th>Allocation</th>
            <th>Amount debited</th>
            <th>Amount refunded</th>
        </tr>  
    </thead>	
    <tbody> 
        {% for source in sources %}
        <tr>
            <td>{{ source.source_type }}</td>
            <td>{{ source.amount_allocated|currency }}</td>
            <td>{{ source.amount_debited|currency }}</td>
            <td>{{ source.amount_refunded|currency }}</td>
        </tr>
        {% endfor %}
    </tbody>	
</table>
{% else %}
<p>No payment sources</p>
{% endif %}
{% endwith %}

{% if order.billing_address %}
<h3>Billing address</h3>
<p>
{% for field in order.billing_address.active_address_fields %}
{{ field }}<br/>
{% endfor %}
</p>
{% endif %}

{% if order.shipping_address %}
<h2>Shipping</h2>
<p>
{% for field in order.shipping_address.active_address_fields %}
{{ field }}<br/>
{% endfor %}
</p>
<p><a href="{% url dashboard:order-shipping-address order.number %}">Edit shipping address</a></p>
{% endif %}

<h2>Discounts</h2>
{% with discounts=order.discounts.all %}
{% if discounts %}
<table>
    <tr>
        <th>Voucher code</th>
        <th>Offer name</th>
        <th>Amount</th>
    </tr>
    {% for discount in discounts %}
    <tr>
        <td>{{ discount.voucher_code }}</td>
        <td>{{ discount.offer.name }}</td>
        <td>{{ discount.amount|currency}}</td>
    </tr>
    {% endfor %}
{% else %}
<p>No discounts were applied in this order.</p>
{% endif %}
{% endwith %}

<h2>Items ordered</h2>
<form action="." method="post">
{% csrf_token %}
<table>
    <tr>
        <th>Select</th>
        <th>Quantity</th>
        <th>Product</th>
        <th>Status</th>
        <th>Supplier</th>
        <th>Supplier SKU</th>
        <th>Est. delivery date</th>
        <th>Price (after discounts)</th>
        <th>Price (before discounts)</th>
        <th>Actions</th>
    </tr>
    {% for line in order.lines.all %}
    <tr>
		<td>
			<input type="checkbox" name="selected_line" value="{{ line.id }}" />
			<input type="text" name="selected_line_qty" value="{{ line.quantity }}" size="2" />
		</td>
        <td>{{ line.quantity }}</td>
        <td>{{ line.title }}</td>
        <td>{{ line.status|default:"-" }}</td>
        <td>{{ line.partner_name }}</td>
        <td>{{ line.partner_sku }}</td>
        <td>{{ line.est_dispatch_date }}</td>
        <td>{{ line.line_price_before_discounts_incl_tax|currency }}</td>
        <td>{{ line.line_price_incl_tax|currency }}</td>
        <td>
			<a href="{% url dashboard:order-line-detail order.number line.id %}">Edit</a>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="7"></td>
        <td>Discount</td>
        <td>{{ order.total_discount_incl_tax|currency }}</td>
    </tr>
    <tr>
        <td colspan="7"></td>
        <td>Shipping charge</td>
        <td>{{ order.shipping_incl_tax|currency }}</td>
    </tr>
    <tr>
        <td colspan="7"></td>
        <td>Total</td>
        <td>{{ order.total_incl_tax|currency }}</td>
    </tr>
</table>

<p>With selected lines:</p>
<ul>
    <li><label><input type="radio" name="line_action" value="change_line_statuses" /> Change status to</label>
	<select name="new_status">
		<option value=""> -- choose new status -- </option>
		{% for status in line_statuses %}
		<option>{{ status }}</option>
		{% endfor %}
	</select>
    </li>
	<li><label><input type="radio" name="line_action" value="create_shipping_event" /> Create shipping event</label>
	<select name="shipping_event_type">
		<option value=""> -- choose event type -- </option>
		{% for event_type in shipping_event_types %}
		<option value="{{ event_type.code }}">{{ event_type.name }}</option>
		{% endfor %}
	</select>

	</li>

</ul>
<input type="submit" value="Go!" />
</form>

<h2>Actions</h2>
{% with statuses=order.available_statuses %}
{% if statuses %}
<form action="." method="post">
    {% csrf_token %}
    <input type="hidden" name="order_action" value="change_order_status" />
	Change order status to:
	<select name="new_status">
		{% for status in statuses %}
		<option>{{ status }}</option>
		{% endfor %}
	</select>
    <input type="submit" value="Go!" />
</form>
{% else %}
<p>No further status changes are permitted.</p>
{% endif %}
{% endwith%}

<h2>Shipping Events</h2>
{% with events=order.shipping_events.all %}
{% if events %}
<table>
	<tr>
		<th>Date</th>
		<th>Event</th>
		<th>Lines</th>
	</tr>
	{% for event in events %}
	{% with line_qtys=event.line_quantities.all %}
	<tr>
		<td rowspan="{{ line_qtys|length }}">{{ event.date }}</td>
		<td rowspan="{{ line_qtys|length }}">{{ event.event_type.name }}</td>
		<td>
			<table>
				{% for line_qty in event.line_quantities.all %}
				<tr>
					<td>Product: {{ line_qty.line.title }}</td>
					<td>Quantity: {{ line_qty.quantity }}</td>
				</tr>
				{% endfor %}
			</table>
		<td>
	</tr>
	{% endwith %}
	{% endfor %}
</table>
{% else %}
<p>No shipping events.</p>
{% endif %}
{% endwith %}

<h2>Payment Events</h2>
{% with events=order.payment_events.all %}
{% if events %}
<table>
	<tr>
		<th>Date</th>
		<th>Event</th>
		<th>Lines</th>
	</tr>
	{% for event in events %}
	{% with line_qtys=event.line_quantities.all %}
	<tr>
		<td rowspan="{{ line_qtys|length }}">{{ event.date }}</td>
		<td rowspan="{{ line_qtys|length }}">{{ event.event_type.name }}</td>
		<td>
			<table>
				{% for line_qty in event.line_quantities.all %}
				<tr>
					<td>Product: {{ line_qty.line.title }}</td>
					<td>Quantity: {{ line_qty.quantity }}</td>
				</tr>
				{% endfor %}
			</table>
		<td>
	</tr>
	{% endwith %}
	{% endfor %}
</table>
{% else %}
<p>No payment events.</p>
{% endif %}
{% endwith %}

<h2>Notes</h2>
{% with notes=order.notes.all %}
{% if notes %}
<table>
	<tr>
		<th>Date</th>
		<th>User</th>
		<th>Type</th>
		<th>Message</th>
		<th></th>
	</tr>
	{% for note in notes %}
	<tr>
		<td>{{ note.date }}</td>
		<td>{{ note.user }}</td>
		<td>{{ note.note_type }}</td>
		<td>{{ note.message|linebreaks }}</td>
		<td>
			{% if note.is_editable %}
			<a href="{% url dashboard:order-detail-note order.number note.id %}">Edit</a> |
			<form action="." method="post">
				{% csrf_token %}
				<input type="hidden" name="order_action" value="delete_note" />
				<input type="hidden" name="note_id" value="{{ note.id }}" />
				<input type="submit" value="Delete" />
			</form>
			{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>
{% endif %}
{% endwith %}

<form action=".?note={{ note_id }}" method="post">
	{% csrf_token %}
	<input type="hidden" value="save_note" name="order_action" />
	{{ note_form.as_p }}
	<input type="submit" value="Save note" />
</form>

{% endblock dashboard_content %}

