{% extends "layout.html" %}
{% load currency_filters %}

{% block title %}
Order {{ order.number }}
{% endblock %}

{% block header %}
    <h2>Order {{ order.number }}</h2>
{% endblock header %}

{% block content %}

<h2>Order information</h2>
<table>
    <tr>
        <th>Date of purchase</th>
        <th>Time of purchase</th>
        <th>Status</th>
    </tr>
    <tr>
        <td>{{ order.date_placed|date:"d/m/y" }}</td>
        <td>{{ order.date_placed|date:"H:s" }}</td>
        <td>{{ order.status|default:"N/A" }}</td>
    </tr>
</table>

<h2>Customer</h2>
{% if order.user %}
<table>
    <tr>
        <th>Username</th>
        <td>{{ order.user.username }}</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>{{ order.user.get_full_name|default:"-" }}</td>
    </tr>
    <tr>
        <th>Email address</th>
        <td>{{ order.user.email|default:"-" }}</td>
    </tr>
</table>
{% else %}
<p>Customer checked out anonymously.</p>
{% endif %}

<h2>Payment</h2>
{% with sources=order.sources.all %}
{% if sources %}
<table>     
    <thead>  
        <tr>
            <th>Source</th>
            <th>Allocation</th>
            <th>Amount debited</th>
            <th>Amount refunded</th>
        </tr>  
    </thead>	
    <tbody> 
        {% for source in sources %}
        <tr>
            <td>{{ source.source_type }}</td>
            <td>{{ source.amount_allocated|currency }}</td>
            <td>{{ source.amount_debited|currency }}</td>
            <td>{{ source.amount_refunded|currency }}</td>
        </tr>
        {% endfor %}
    </tbody>	
</table>
{% else %}
<p>No payment sources</p>
{% endif %}
{% endwith %}

{% if order.billing_address %}
<h3>Billing address</h3>
<p>
{% for field in order.billing_address.active_address_fields %}
{{ field }}<br/>
{% endfor %}
</p>
{% endif %}

{% if order.shipping_address %}
<h2>Shipping</h2>
<p>
{% for field in order.shipping_address.active_address_fields %}
{{ field }}<br/>
{% endfor %}
</p>
{% endif %}

<h2>Discounts</h2>
{% with discounts=order.discounts.all %}
{% if discounts %}
<table>
    <tr>
        <th>Voucher code</th>
        <th>Offer name</th>
        <th>Amount</th>
    </tr>
    {% for discount in discounts %}
    <tr>
        <td>{{ discount.voucher_code }}</td>
        <td>{{ discount.offer.name }}</td>
        <td>{{ discount.amount|currency}}</td>
    </tr>
    {% endfor %}
{% else %}
<p>No discounts were applied in this order.</p>
{% endif %}
{% endwith %}

<h2>Items ordered</h2>
<form action="." method="post">
{% csrf_token %}
<table>
    <tr>
        <th>Select</th>
        <th>Product</th>
        <th>Status</th>
        <th>Supplier</th>
        <th>Supplier SKU</th>
        <th>Est. delivery date</th>
        <th>Price (after discounts)</th>
        <th>Price (before discounts)</th>
        <th>Actions</th>
    </tr>
    {% for line in order.lines.all %}
    <tr>
        <td><input type="checkbox" name="selected_line" value="{{ line.id }}" /></td>
        <td>{{ line.title }}</td>
        <td>{{ line.status|default:"-" }}</td>
        <td>{{ line.partner_name }}</td>
        <td>{{ line.partner_sku }}</td>
        <td>{{ line.est_dispatch_date }}</td>
        <td>{{ line.line_price_before_discounts_incl_tax|currency }}</td>
        <td>{{ line.line_price_incl_tax|currency }}</td>
        <td>
            <a href="">Edit</a>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="6"></td>
        <td>Discount</td>
        <td>{{ order.total_discount_incl_tax|currency }}</td>
    </tr>
    <tr>
        <td colspan="6"></td>
        <td>Shipping charge</td>
        <td>{{ order.shipping_incl_tax|currency }}</td>
    </tr>
    <tr>
        <td colspan="6"></td>
        <td>Total</td>
        <td>{{ order.total_incl_tax|currency }}</td>
    </tr>
</table>

<p>With selected lines:</p>
<ul>
    <li><label><input type="radio" name="line_action" value="change_line_statuses" /> Change status to</label>
    <input type="text" name="new_status" /> 
    </li>
</ul>
<input type="submit" value="Go!" />
</form>

<h2>Actions</h2>
<form action="." method="post">
    {% csrf_token %}
    <input type="hidden" name="order_action" value="change_order_status" />
    Change order status to <input type="text" name="new_status" />
    <input type="submit" value="Go!" />
</form>

<h2>Notes</h2>

{% endblock content %}
