{% extends 'dashboard/layout.html' %}

{% block title %}
Shipping address | Order {{ order.number }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url dashboard:index %}">Dashboard</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url dashboard:order-list %}">Orders</a>
        <span class="divider">/</span>
    </li>
    <li>
		<a href="{% url dashboard:order-detail order.number %}">{{ order.number }}</a>
        <span class="divider">/</span>
    </li>
	<li class="active"><a href=".">Edit shipping address</a></li>
</ul>
{% endblock %}

{% block header %}
<div class="page-header">
    <h2>Edit shipping address for order {{ order.number }}</h2>
</div>
{% endblock header %}

{% block content %}

<form action="." method="post" class="well form-horizontal">
	{% csrf_token %}
	{% include "partials/form_fields.html" with form=form %}
	<div class="form-actions">
	    <input type="submit" value="Update address" class="btn btn-primary"/>
		or <a href="{% url dashboard:order-detail order.number %}">cancel</a>
	</div>
</form>

{% endblock content %}

