{% extends 'dashboard/layout.html' %}
{% load currency_filters %}

{% block header %}
<div class="page-header">
    <h2>Order summary</h2>
</div>
{% endblock header %}

{% block dashboard_content %}
<form method="get" action="{% url dashboard:order-summary %}">
<table>
	{{ filter_form.as_table }}
	<tr>
		<td>
			<input type="submit" value="Filter result" class="btn primary" />
		</td>
	</tr>
</table>
</form>

<table class="table table-striped table-bordered">
	<caption>Global stats</caption>
	<tr>
		<th>Total orders</th>
		<td>{{ total_orders }}</td>
	</tr>
	<tr>
		<th>Total lines</th>
		<td>{{ total_lines }}</td>
	</tr>
	<tr>
		<th>Total revenue</th>
		<td>{{ total_revenue|currency }}</td>
	</tr>
</table>

<table class="table table-striped table-bordered">
	<caption>Order status breakdown</caption>
	<tr>
		<th>Status</th>
		<th>Frequency</th>
	</tr>
	{% for dict in order_status_breakdown %}
	<tr>
		<td><a href="{% url dashboard:order-list %}?order_status={{ dict.status }}">{{ dict.status }}</a></td>
		<td>{{ dict.freq }}</td>
	</tr>
	{% endfor %}
</table>

{% endblock dashboard_content %}
