{% extends 'dashboard/offers/step_form.html' %}
{% load i18n %}

{% block progress %}
    {% include 'dashboard/offers/progress.html' with step=2 %}
{% endblock %}

{% block form_fields %}
	<span class="help-block">{{ form.non_field_errors }}</span>

	{% include "partials/form_field.html" with field=form.range %}
	<p>{% trans "Ranges can be created and edited from within the " %}
		<a href="{% url dashboard:range-list %}">{% trans "range dashboard" %}</a>.</p>

	{% include "partials/form_field.html" with field=form.type %}
	{% include "partials/form_field.html" with field=form.value %}
	{% include "partials/form_field.html" with field=form.max_affected_items %}

{% endblock %}

{% block submittext %}{% trans "Continue to step 3" %}{% endblock %}

{% block onbodyload %}
oscar.dashboard.offers.init();
{% endblock %}
