{% extends 'dashboard/offers/step_form.html' %}
{% load i18n %}

{% block form_fields %}
	{% include "partials/form_field.html" with field=form.name %}
	{% include "partials/form_field.html" with field=form.description %}
	<h3>{% trans "Availability" %}</h3>
	{% include "partials/form_field.html" with field=form.start_date %}
	{% include "partials/form_field.html" with field=form.end_date %}
	{% include "partials/form_field.html" with field=form.max_global_applications %}
	{% include "partials/form_field.html" with field=form.max_applications %}
{% endblock %}
