{% extends 'dashboard/layout.html' %}
{% load currency_filters %}
{% load i18n %}

{% block body_class %}create-page{% endblock %}

{% block title %}
    {% if offer.pk %}
        {{ offer.name }}:
    {% else %}
        {% trans "Create new offer" %}:
    {% endif %}
    {{ title }} | {% trans "Offer management" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">   	
    <li>   	
        <a href="{% url dashboard:index %}">{% trans "Dashboard" %}</a>   	
        <span class="divider">/</span>   	
    </li>   	
    <li>   	
        <a href="{% url dashboard:offer-list %}">{% trans "Offer management" %}</a>
        <span class="divider">/</span>   	
    </li>   	
    {% if offer.pk %}
    <li>   	
        <a href="{% url dashboard:offer-detail offer.pk %}">'{{ offer.name }}'</a>   	
        <span class="divider">/</span>   	
    </li>   	
    {% else %}
    <li>
        {% trans "Create new offer" %}
        <span class="divider">/</span>
    </li>
    {% endif %}
    <li class="active">{{ title }}</li>   	
</ul>
{% endblock %}

{% block header %}
<div class="page-header">
    {% if not offer.pk %}
    <h1>{% trans "Create new offer" %}</h1>
    {% else %}
	<h1>{{ offer.name }}</h1>
    {% endif %}
</div>
{% endblock header %}

{% block dashboard_content %}

    {% block progress %}
        {% include 'dashboard/offers/progress.html' %}
    {% endblock %}

    {% block summary %}
        {% include 'dashboard/offers/summary.html' %}
    {% endblock %}

    <form action="." method="post" class="form-stacked wysiwyg">
        {% csrf_token %}
        <p>{% trans "Fields marked with * are mandatory." %}</p>
        {% block form_fields %}
            {% include "partials/form_fields.html" with form=form %}
        {% endblock %}
        {% block form_extradata %}{% endblock %}
        {% block form_actions %}
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">{% block submittext %}{% trans "Continue" %}{% endblock %}</button> {% trans "or" %}
                <a href="{% url dashboard:offer-list %}">{% trans "cancel" %}</a>
            </div>
        {% endblock form_actions %}
    </form>
{% endblock dashboard_content %}
