{% load i18n %}
<footer class="footer">
    <div class="container-fluid">
    {% block footer %}
        <ul class="footer-links"> 
            <li>
                <h3>
                    <a class="hide pull-right" data-toggle="collapse" data-target=".footer-list-01"><i class="icon-plus"></i></a>
                    {% trans "About" %}
                </h3>
                <ul class="nav-collapse footer-list-01">
                    <li><a href="#">{% trans "All" %}</a></li>
                    <li><a href="#">{% trans "Gill" %}</a></li>
                    <li><a href="#">{% trans "Henro Lloyd" %}</a></li>
                    <li><a href="#">{% trans "Zhik" %}</a></li>
                    <li><a href="#">{% trans "Magic" %}</a></li>
                </ul>
            </li>
            <li>
                <h3>{% trans "Contact us" %}</h3>
                <p>
                    {% trans "741 Swanston St," %} <br/> {% trans "Melbourne VIC 3000" %} <br/> 
                    <strong><i class="icon-mobile"></i>{% trans "1-800-424-1324" %}</strong>
                </p>
                <p class="social-icons">
                    <a href="#"><i class="icon-facebook"></i></a>
                    <a href="#"><i class="icon-twitter"></i></a>
                </p>
            </li>
        </ul>
    {% endblock %}
    </div>
    <div class="footer-disclaimer">
        <div class="container-fluid">
            <a href="#" class="pull-right">{% trans "Site by Tangent Snowball Australia" %}</a>
            <p class="hidden-phone">
                <a href="https://www.verisign.com.au" title="https://www.verisign.com.au" target="_blank"><i class="verisign"></i></a>
                <i class="credit-cards"></i>
            </p>
        </div>
    </div>
</footer>
