{% load currency_filters %}
{% load category_tags %}
{% load i18n %}

<div class="navbar primary navbar-static-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".primary-collapse">
                <i class="icon-reorder"></i>
                Browse {{ shop_name }}
            </a>

            <div class="nav-collapse primary-collapse">
                <ul class="nav">
                    <li><a tabindex="-1" href="{% url 'catalogue:index' %}">{% trans "All" %}</a></li>
                    
                    {% category_tree depth=2 as tree_categories %}

                    {% if tree_categories %}
                        <li class="divider"></li>
                        {% for tree_category,info in tree_categories %}
                            {% if info.has_children %}
                                <li class="dropdown">
                                    <a tabindex="-1" href="{{ tree_category.get_absolute_url }}" data-toggle="dropdown" class="dropdown-toggle">
                                        {{ tree_category.name }} 
                                        <i class="icon-arrow-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a tabindex="-1" href="{{ tree_category.get_absolute_url }}">
                                                {% trans "All" %} {{ tree_category.name }}
                                                <i class="icon-arrow-right"></i>
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                            {% else %}
                                <li><a tabindex="-1" href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a></li>
                            {% endif %}
                            {% for close in info.num_to_close %}
                                </ul></li>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                    <li><a href="{% url 'offer:list' %}">{% trans "Offers" %}</a></li>

                </ul>
                {% include "partials/search.html" %}
            </div><!-- /.nav-collapse -->
        </div>
    </div><!-- /navbar-inner -->
</div><!-- /navbar -->