{% load i18n %}

<div class="container-fluid clearfix">
    {% if LANGUAGES|length > 1 %}
        <form id="language_selector" class="pull-left navbar-form" action="/i18n/setlang/" method="post">
            {% csrf_token %}
            <select name="language">
                {% for language in LANGUAGES %}
                <option value="{{ language.0 }}" {% if LANGUAGE_CODE == language.0 %}selected="selected"{% endif %}>{{ language.1 }}</option>
                {% endfor %}
            </select>
            <button class="btn" type="submit" data-loading-text="{% trans 'Submitting...' %}">{% trans "Go" %}</button>
        </form>
    {% endif %}

    <ul class="breadcrumb pull-right nav-accounts">
        {% if user.is_authenticated %}
            <li>
                <a href="{% url "customer:summary" %}">{% trans "Account" %}</a>
                <span class="divider">|</span>
            </li>
            <li>
                <a href="{% url "customer:notifications-inbox" %}">
                    {% trans "Notifications" %}
                    {% if num_unread_notifications > 0 %}
                        <span class="label label-important">{{ num_unread_notifications }}</span>
                    {% endif %}</a>
                    <span class="divider">|</span>
            </li>
            {% if user.is_staff or perms.partner.dashboard_access %}
            <li class="hidden-phone">
                <a href="{% url "dashboard:index" %}">{% trans "Dashboard" %}</a>
                <span class="divider">|</span>
            </li>
            {% endif %}
            <li><a href="{% url "customer:logout" %}">{% trans "Logout" %}</a></li>
        {% else %}
            <li><a href="{% url "customer:login" %}">{% trans "Login or register" %}</a></li>
        {% endif %}
    </ul>
</div>
