{% extends "layout_checkout.html" %}

{% load currency_filters %}

{% block header %}
<div class="page-header">
    <h1>Checkout / Gateway</h1>
</div>
{% endblock header %}


{% block content %}

<div class="row-fluid">
    <div class="span6 login_form">
        <form action="{{ request.get_full_path }}" method="post" class="form-stacked" />
            <h2>Log In</h2>
            {% csrf_token %}
            {% include "partials/form_fields.html" with form=login_form %}
            <input name="login_submit" type="submit" value="Log In" class="btn" />
        </form>
    </div>
    <div class="span6 register_form">
        <form action="{{ request.get_full_path }}" method="post" class="form-stacked" />
            <h2>Register Here</h2>
            {% csrf_token %}
            {% include "partials/form_fields.html" with form=registration_form %}
            <input name="registration_submit" type="submit" value="Register" class="btn" />
        </form>
    </div>
</div>

{% if anon_checkout_allowed %}
<div class="sub-header">
    <h2>Checkout Anonymously</h2>
</div>
<p>You can checkout without signing in.  You will be given the opportunity to register when checkout is complete.</p>
<div class="form-actions">
    <a href="{% url checkout:shipping-address %}" class="btn">Checkout anonymously</a>
</div>
{% endif %}

{% endblock content %}