{% extends "checkout/layout.html" %}
{% load currency_filters %}

{% block title %}
Checkout gateway | {{ block.super }}
{% endblock %}

{% block header %}
<div class="page-header">
    <h1>Checkout gateway</h1>
</div>
{% endblock header %}

{% block content %}

<form action="." method="post">
	{% csrf_token %}
	{{ form.non_field_errors }}
	<div>
		<h4>What is your email address?</h4>
		<label for="id_username">My email address is:</label>
		{{ form.username }}
		{{ form.username.errors }}
	</div>
	<div>
		<h4>Do you have an account already?</h4>
		{{ form.options.errors }}
		<label><input type="radio" id="id_options_0" name="options" value="new" {% if not form.password.errors %}checked="checked"{% endif %} /> No, I want to use guest checkout</label><br/>
		<label><input type="radio" id="id_options_1" name="options" value="existing" {% if form.password.errors %}checked="checked"{% endif %}e> Yes, I have a password</label>
		{{ form.password }}
		{{ form.password.errors }}
	</div>
	<div>
		<button type="submit" class="btn">Go!</button>
	</div>
</form>

{% endblock content %}

{% block onbodyload %}
oscar.checkout.gateway.init();
{% endblock %}