{% extends "checkout/layout.html" %}
{% load currency_filters %}

{% block title %}
Checkout gateway | {{ block.super }}
{% endblock %}

{% block header %}
<div class="page-header">
    <h1>About you</h1>
</div>
{% endblock header %}

{% block content %}

<form action="." method="post" class="genericform">
	{% csrf_token %}
	{{ form.non_field_errors }}
	<div>
		<label for="id_username">Your email address:</label>
		{{ form.username }}
		{{ form.username.errors }}
	</div>
	<div>
		{{ form.options.errors }}
		<label><input type="radio" id="id_options_1" name="options" value="existing" {% if form.password.errors %}checked="checked"{% endif %} />
			I have an account and my password is:</label>
		{{ form.password }}
		{{ form.password.errors }}
		<a href="{% url password-reset %}">Get a password reminder</a>
		<label><input type="radio" id="id_options_0" name="options" value="new" {% if not form.password.errors %}checked="checked"{% endif %} /> I don't want to create an account</label><br/>
	</div>
	<div>
		<button type="submit" class="btn btn-large btn-primary">Continue</button>
		Alternatively <a href="{% url customer:login %}?next={% url checkout:index %}">create an account</a> before you checkout.
	</div>
</form>

{% endblock content %}

{% block onbodyload %}
oscar.checkout.gateway.init();
{% endblock %}