{% extends "base.html" %}

{% load currency_filters %}
{% load promotion_tags %}
{% load category_tags %}

{% block extrahead %}
    <!-- Responsive - will need to be minified -->
    <link rel="stylesheet" href="{{ STATIC_URL }}oscar/css/responsive.css" />
{% endblock %}

{% block layout %}
    {% include "partials/nav_accounts.html" %}
    
    <header class="header container-fluid">
        <div class="row-fluid">
            <h1 class="span6"><a href="{% url promotions:home %}">Oscar</a><small> Domain-driven e-Commerce for Django</small></h1>
        </div><!-- /row-fluid -->
        <div class="navbar primary">
            <div class="navbar-inner">
                <div class="container" style="width: auto;">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand hidden" href="{% url promotions:home %}">Oscar</a>
                    <div class="nav-collapse">

                        <ul class="nav">
                           <!-- Links to modal flatpages -->
                           {% load flatpages %}
                           {% get_flatpages '/order/' as flatpages %}
                           {% for page in flatpages %}
                           <li>
                              <a data-toggle="modal" href="#{{ page.title|slugify }}">{{ page.title }}</a>
                           </li>
                           {% endfor %}
                           <!-- Delete this if other links present -->
                           <li><a href="/">&larr;</a></li>
                        </ul>
                    </div><!-- /.nav-collapse -->
                </div>
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->
    </header><!-- /header -->
    {% for message in messages %}
       <div class="alert fade in alert-{{ message.tags }}">
       	<a class="close" data-dismiss="alert">x</a>
       	{{ message }}
       </div>
    {% endfor %}
    <div class="container-fluid page">
       {% block header %}
       {% endblock %}
       
       <div class="page_inner">
        	<!-- The main nav on checkout pages contain links to modal flatpages -->   
            {% block modal %}
                {% load flatpages %}
                {% get_flatpages '/order/' as flatpages %}
                {% for page in flatpages %}
                <div id="{{ page.title|slugify }}" class="modal hide fade">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal">×</a>
                        <h3>{{ page.title }}</h3>
                    </div>
                    <div class="modal-body">
                        <div class="large-content">
                            {{ page.content|safe }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endblock %}


            {% block sidebar %}
            {% endblock %}
    
            {% block flatpage %}
            {% endblock %}
            
            <div id="promotions">
                {% for promotion in promotions_page %}
                    {% render_promotion promotion %}
                {% endfor %}
            </div>

            {% block content %}{% endblock %}
        </div><!-- /page_inner -->
    </div>
    {% include "partials/footer.html" %}
{% endblock %}

{# Block for additional scripts #}
{% block extrascripts %}
{% endblock %}