{% extends "checkout/checkout.html" %}

{% block title %}
Order preview | {{ block.super }}
{% endblock %}

{% block checkout-nav %}
{% include 'checkout/nav.html' with step=4 %}
{% endblock %}

{% block place_order %}
<h3>Please review the information below, then click "Place Order"</h3>
<form method="post" action="{% url checkout:payment-details %}">
{% csrf_token %}
    <div class="form-actions clearfix">
        <input id='place-order' type="submit" value="Place order" class="pull-right btn btn-primary btn-large js-disable-on-click" />
    </div>
</form>
{% endblock place_order %}
