{% extends "checkout/checkout.html" %}

{% block title %}
Shipping address | {{ block.super }}
{% endblock %}

{% block checkout-nav %}
{% include 'checkout/nav.html' with step=1 %}
{% endblock %}

{% block order_contents %}{% endblock %}

{% block shipping_address %}
    <div class="sub-header">
        <h2>Where should we ship to?</h2>
    </div>
    {% if request.user.is_authenticated %}
        {% if addresses %}
            
            <h4>Choose a shipping address from your address book</h4>
      
            <div class="choose-block">
                <ul class="clearfix">
                    {% for address in addresses %}
					<li>
						<div class="well well-info">
							<address>{% for field in address.active_address_fields %}
							{{ field }}<br/>
							{% endfor %}</address>
							<form action="{% url checkout:shipping-address %}" method="post">
								{% csrf_token %}
								<input type="hidden" name="action" value="ship_to" />
								<input type="hidden" name="address_id" value="{{ address.id }}" />
								<input type="submit" value="Ship to this address" class="btn btn-primary btn-small ship-address"/>
							</form>

							<form action="{% url checkout:user-address-delete address.id %}" method="post" class="remove-item">
								{% csrf_token %}
								<a class="btn btn-small btn-info" href="{% url checkout:user-address-update address.id %}">Edit</a>
								<input type="submit" value="Delete" class="btn btn-small btn-danger" />
							</form>
						</div>
					</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="sub-header">
    			<h2>Or</h2>
    		</div>
        {% else %}
            <p>Your addressbook is currently empty</p>
        {% endif %}
	</div>
    {% endif %}

    <div class="well well-info">
    	<form action="{% url checkout:shipping-address %}" method="post" class="form-horizontal">
            {% csrf_token %}
            {% include "partials/form_fields.html" with form=form %}
            <div class="form-actions"><button type="submit" class="btn btn-large btn-primary">Continue</button>
                or <a href="{% url basket:summary %}">return to basket</a></div>
        </form>
    </div>
{% endblock shipping_address %}

{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}
