{% extends "checkout/checkout.html" %}
{% load currency_filters %}

{% block title %}
Shipping method | {{ block.super }}
{% endblock %}

{% block shipping_method %}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Method</th>
            <th>Cost</th>
            <th>Description</th>
            <th></th>
        </tr>
    <thead>
    <tbody>
        {% for method in methods %}
        <tr>
            <td>{{ method.name }}</td>
            <td>{{ method.basket_charge_incl_tax|currency }}</td>
            <td>{{ method.description }}</td>
            <td>
                <form method="post" action="{% url checkout:shipping-method %}">
                    {% csrf_token %}
                    <input type="hidden" name="method_code" value="{{ method.code }}" class="btn" />
                    <input type="submit" value="Use this shipping method" class="btn" />
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock shipping_method %}