{% extends "checkout/checkout.html" %}
{% load currency_filters %}

{% block title %}
Shipping method | {{ block.super }}
{% endblock %}

{% block checkout-nav %}
{% include 'checkout/nav.html' with step=2 %}
{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}

{% block shipping_method %}
<div class="sub-header">
	<h3>Choose a shipping method</h3>
</div>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Method</th>
            <th>Cost</th>
            <th>Description</th>
            <th></th>
        </tr>
    <thead>
    <tbody>
        {% for method in methods %}
        <tr>
            <td>{{ method.name }}</td>
            <td>{{ method.basket_charge_incl_tax|currency }}</td>
            <td>{{ method.description }}</td>
            <td>
                <form method="post" action="{% url checkout:shipping-method %}">
                    {% csrf_token %}
                    <input type="hidden" name="method_code" value="{{ method.code }}" class="btn" />
                    <button type="submit" class="btn btn-large btn-primary">Use this shipping method</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock shipping_method %}