{% extends "checkout/checkout.html" %}

{% block title %}
Shipping address | {{ block.super }}
{% endblock %}

{% block shipping_address %}

{% if addresses %}
<div class="sub-header">
    <h4>Choose a shipping address from your address book</h4>
</div>
<div class="choose_shipping_address">
    <ul>
    	{% for address in addresses %}
    	<li>
    	<div class="alert alert-info">
    	<p>{{ address.summary }}</p>
    	<form action="{% url checkout:shipping-address %}" method="post">
    		{% csrf_token %}
    		<input type="hidden" name="action" value="ship_to" />
    		<input type="hidden" name="address_id" value="{{ address.id }}" />
    		<input type="submit" value="Ship to this address" class="btn btn-large btn-primary"/>
    		<p><a href="{% url checkout:user-address-update address.id %}">Edit this address</a></p>
    	</form>
    	
    	<form action="{% url checkout:user-address-delete address.id %}" method="post" class="delete_address">
    		{% csrf_token %}
    		<input type="submit" value="Delete from address book" class="btn btn-small" />
    	</form>
    	</div>
    	</li>
    	{% endfor %}
    </ul>
</div>
</form>
{% endif %}
{% if request.user.is_authenticated %}
    <div class="form-actions">
        <a href="{% url checkout:user-address-create %}" class="btn">Add a new address to your address book</a>
        </div>
{% endif %}


<form action="{% url checkout:shipping-address %}" method="post" class="form-stacked">
    <legend>Enter a shipping address</legend>
	{% csrf_token %}
	 {% include "partials/form_fields.html" with form=form %}
	<div class="form-actions"><input type="submit" value="Save shipping address" class="btn" /></div>
</form>


{% endblock shipping_address %}
