{% extends "layout_checkout.html" %}

{% load currency_filters %}

{% block header %}
<div class="page-header">
    <h2>Checkout / Thank you</h2>
</div>
{% endblock header %}


{% block content %}
<div class="sub-header">
    <h3>Order confirmation</h3>
</div>
<p>Your order has been placed - your order number is <span class="label label-success">{{order.number}}</span></p>
<p>Please make a note of this reference or print this page and quote it in any communication
with us regarding your order.</p>

<div class="row-fluid">
    <div class="span6 order_delivered">
        <div>
            <h3>Shipping</h3>
            <p>Your order will be delivered to:</p>
            {% for line in order.shipping_address.active_address_fields %}
            {{ line }}<br/>
            {% endfor %}
        </div>
    </div>
    <div class="span6 order_payment">
        <div>
            <h3>Payment</h3>
            {% for source in order.sources.all %}
            {{ source }}
            {% endfor %}
        </div>
    </div>
</div>
<div class="sub-header">
    <h3>Order details</h3>
</div>
<table class="table table-striped table-bordered">
    <tr>
        <th>Product</th>
        <th>Estimated dispatch date</th>
        <th>Quantity</th>
        <th>Line price excl tax</th>
        <th>Line price incl tax</th>
    </tr>
    {% for line in order.lines.all %}
    <tr>
        <td><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></td>
        <td>{{ line.est_dispatch_date }}</td>
        <td>{{ line.quantity }}</td>
        <td>{{ line.line_price_before_discounts_excl_tax|currency }}</td>
        <td>{{ line.line_price_before_discounts_incl_tax|currency }}</td>
    </tr>
    {% endfor %}
    {% for discount in order.discounts.all %}
    <tr>
        <td>{{ discount.offer }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td>- {{ discount.amount|currency }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="3">Basket total</td>
        <td>{{ order.basket_total_excl_tax|currency }}</td>
        <td>{{ order.basket_total_incl_tax|currency }}</td>
    </tr>
    <tr>
        <td colspan="3">Shipping charge - {{order.shipping_method}}</td>
        <td>{{ order.shipping_excl_tax|currency }}</td>
        <td>{{ order.shipping_incl_tax|currency }}</td>
    </tr>
    <tr>
        <td colspan="4">Order total</td>
        <td>{{ order.total_incl_tax|currency }}</td>
    </tr>
</table>
 
{% if not order.user %}
<div class="sub-header">
    <h4>Tracking your order</h4>
</div>
<p>You can track the status of your order at the following URL:</p>
<p><a href="{% url customer:anon-order order.number order.verification_hash %}"> {% url customer:anon-order order.number order.verification_hash %}</a></p>
{% endif %}
 
{% endblock content %}

