/*
 * Sidebar
 */

$sidebar-width: 200px;
$sidebar-color: #2f2d2d;
$sidebar-hover: #248eb5;
$background-color: #eaeaea;

html, body {
  height: 100%;
  background-color: $background-color;
}

.body-wrapper {
  transition: all 0.3s ease;
  transform: translateX(0px);
  height: 100%;
}

.page-wrapper {
  width: 100%;
  position: absolute;
  background-color: $background-color;
  top: 0px;
  min-height: 100%;
  left: $sidebar-width;
  padding: 0 $sidebar-width 0 0;

  @media screen and (max-width: $screen-sm-max) {
    padding: 0;
    left: 0px;
  }
}

.sidebar-menu-checkbox {
  display: none;
}

.sidebar-menu-checkbox:checked + .body-wrapper  {
  transition: all 0.3s ease;
  transform: translateX($sidebar-width);
}

.sidebar-menu-checkbox:checked + .menu-panel {
  display: block;
}

.sidebar {
  position: absolute;
  background-color: $sidebar-color;
  top: 0;
  left: 0;
  width: $sidebar-width;
  height: 100%;

  @media screen and (max-width: $screen-sm-max) {
    transform: translate3d(-$sidebar-width, 0, 0);
    transition: transform 0.35s;
  }

  .brand-logo {
    padding: 20px;
  }

  .menu-container {
    height: 100%;
    position: relative;
  }

  .menu-panel {
    display: none;

    ul li a {
      padding-left: 50px;
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      width: 100%;
      padding: 0px;
      color: #fff;

      a,
      a:hover,
      a:active {
        color: #fff;
        text-decoration: none;
      }

      label:hover, a:hover {
        background-color: $sidebar-hover;
      }

      > label,
      > a {
        display: block;
        font-size: 12px;
        font-weight: normal;
        padding: 10px;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }

      > label.has-children::after {
        content: "\f054";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        float: right;
        font-size: 10px;
        vertical-align: bottom;
      }

      i.fa {
        width: 20px;
        text-align: center;
        margin-right: 10px;
      }
    }
  }

  .bottom-nav {
    position: absolute;
    bottom: 0px;
    bottom: 100px;
  }
}

.btn-sidebar-toggle {
  margin: 25px 25px 0 5px;
  float: left;
}
