// OSCAR ACCOUNTS UNIQUE STYLES
// -----------
.login_form, .register_form {
  form {
    .well();
  }
}
.nav-profile {
  margin-bottom:0;
}
.account-pages .content,
.account-profile .tab-content {
   padding:@baseLineHeight + 10px;
   border:1px solid darken(@grayLighter, 5%);
   border-top-width:0;
}
.nav-stacked .icon-chevron-right {
  margin-top: 5px;
  margin-right: -6px;
  .opacity(50);
}
.nav-stacked .active .icon-chevron-right {
  .opacity(100);
}
//Language select
#language_selector select {
  width:100px;
}
//buttons inside dropdowns menus to appear like links
.dropdown-menu {
  .btn-link {
    display:block;
    padding: 3px 20px;
    width: 100%;
    *width:160px;
    text-align: left;
    line-height: @baseLineHeight;
    color: @dropdownLinkColor;
    white-space: nowrap;
    &:hover {
      text-decoration: none;
      color: @dropdownLinkColorHover;
      #gradient > .vertical(@dropdownLinkBackgroundHover, darken(@dropdownLinkBackgroundHover, 5%));
    }
  }
}