// OSCAR CHECKOUT UNIQUE STYLES
// -----------
.basket_summary,
.later_summary {
  padding-left:0px;
  .actions {
    margin-left:0px;
  }
  table {
      input {
      width:20%;
    }
  }
}
.order_summary {
  .vertical_list();
  .tier_one();
  li {
    border-color:@grayDark;
    border-style:dashed;
    .clearfix();
    strong {
      float:left;
      color:@grayDark;
    }
    span {
      float:right;
    }
    .total {
      background-color:transparent;
    }
  }
}
.shipping_address {
  h2 {
    margin-bottom: @baseLineHeight;
  }
}
.choose_shipping_address {
  margin-top:10px;
  ul {
    .remove_bullets();
  }
  .well {
    position:relative;
    form {
      margin-bottom:0px;
    }
    .delete_address {
      position:absolute;
      top:19px;
      right:19px;
    }
  }
  .alert-actions {
    .clearfix();
    form,
    a {
      float:left;
      margin:0px 5px;
    }
    form {
      input {
        width:auto;
      }
    }
  } 
}
.total {
  font-size: @baseFontSize + 5;
  text-align:right;
  background-color:#FDF5D9;
  font-weight:bold;
}

.checkoutNav ul li {
    padding: 4px 0;
    background-color: @grayLighter;
    .border-radius(4px);
    .box-shadow(2px 2px 3px rgba(0,0,0,.5));
    color: #fff;
    .app-ico {
        text-align: center;
    }
}

.checkoutNav ul li.active {
    background-color: #0088CC;
    .app-ico {
        color: #fff;
    }
}
