// OSCAR HEADER
// -----------

.site-header {
    position:relative;
    z-index:2;
    .site-spacing {
        padding:@gridGutterWidth * 2.5 0 @gridGutterWidth * 2;
    }
    h1 {
        line-height:inherit;
        margin:0;
        font-size:30px;
    }
}

// Site brand (logo and mini basket layout)
.site-brand {
    // 100% and clearfix
    .makeFluidRow();
    
    h1 {
        .makeFluidCol(7);
    }
}

//Language select
#language_selector select {
    width:100px;
}

// Basket Mini Dropdown
.basket-mini {

    float:right;

    .btn-group {
        margin-left:10px;
    }
    .dropdown-menu {
        width:400px;
        padding-bottom:0px;
        max-width:none;
        li {
            display:block;
        }
    }
}

// Basket Mini Summary
.basket-mini-summary {
    li {
        border-top:1px solid @grayLighter;
        padding:10px 15px;
        &:first-child {
            border-top:none;
        }
    }
    .image_container {
        @imagecontainerheight: 70px;
        min-height: @imagecontainerheight;
        img {
            max-height: @imagecontainerheight;
        }
        a {
            padding:0;
        }
    }
    a {
        color:@linkColor;
        font-weight:inherit;
        white-space:normal;
        &.btn {
            color:#fff;
        }
    }
    .form-actions {
        -webkit-border-radius: 0 0px 6px 6px;
        -moz-border-radius: 0 0px 6px 6px;
        border-radius: 0 0px 6px 6px;
        margin:0px;
        h4 {
            margin-bottom:@baseLineHeight / 2;
        }
    }
}

// Basket Mini Item Grid
.basket-mini-item {
    // 100% and clearfix
    .makeFluidRow();

    .image_container {
        .makeFluidCol(3);
    }
    h5 {
        .makeFluidCol(5);
    }
    .price_color {
        .makeFluidCol(2);
    }
    .basket-mini-quantity {
        .makeFluidCol(2);
    }
}

// Basket actions
.basket-action-summary {
    .makeFluidRow();
}
.basket-action-button {
    .makeFluidCol(4, 8);
}
