// OSCAR PRODUCTS UNIQUE STYLES
// -----------
.availability {
  &.outofstock {
    color:@red;
  }
  &.instock {
   color:@green;
  }
}

/* review styles */
.review {
  margin-bottom:@baseLineHeight;
  .clearfix();
  h3 {
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    small {
      font-size: @baseFontSize - 1;
    }
  }
  form {
    display:inline-block;
    *display:inline;
    zoom:1;
    margin-bottom:0;
  }
}
.review_add,
.review_all,
.review_read,
.side_categories {
  .well();
}
