/*** Promotional block styles ***/
.promotion_single {
  .image_container {
    min-height: 210px;
    img {
      max-height: 200px;
    }
  }
}
.sidebar {
  .promotion_single {
    .row-fluid {
      > [class*="span"] {
        float:none;
        width:auto;
      } 
    }
  }
}