#set($docId = $doc.getFieldValue('id'))

<div class="result-document">
#if($doc.getFieldValue('name'))
  #parse("product-doc.vm")
#elseif($doc.getFieldValue('compName_s'))
  #parse("join-doc.vm")
#else
  #parse("richtext-doc.vm")
#end
</div>
