{% extends 'oscar/dashboard/layout.html' %}
{% load i18n %}
{% load currency_filters %}

{% block title %}
    {% trans "Edit weight band" %} |
    {{ band.method.name }} |
    {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'dashboard:shipping-method-list' %}">{% trans "Shipping methods" %}</a></li>
            <li class="breadcrumb-item">{{ band.method.name }}</li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Edit weight band" %}</li>
        </ol>
    </nav>
{% endblock %}

{% block headertext %}
    {% trans "Edit weight band" %}
{% endblock %}

{% block dashboard_content %}
    <div class="card card-body bg-light">
        <form method="post" class="form-stacked">
            {% csrf_token %}
            {% include "oscar/dashboard/partials/form_fields.html" with form=form %}
            {% block form_actions %}
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit" data-loading-text="{% trans 'Saving...' %}">{% trans "Save" %}</button> {% trans "or" %}
                    <a href="{% url 'dashboard:shipping-method-list' %}">{% trans "cancel" %}</a>
                </div>
            {% endblock form_actions %}
        </form>
    </div>
{% endblock %}
