// OSC MIXINS
// --------------------------------------------------
@mixin horiz_col(){
  padding: 0;
  margin: 0;
  @include clearfix();
  > li {
    list-style: none;
  }
  li {
    float: left;
    li {
      float: none;
    }
  }
}
