{% load currency_filters %}
{% load basket_tags %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

<article class="promotion-block promotion-{{ promotion|slugify|lower }}">
    <div class="sub-header">
        <h2>{{ promotion.name }}</h2>
    </div>
    <div class="promotion-{{ promotion|slugify|lower }}-summary">
        <p class="promotion-{{ promotion|slugify|lower }}-image">
            {% with image=product.primary_image %}
                {% thumbnail image.original "200x200" upscale=False as thumb %}
                    <a href="{{ product.get_absolute_url }}" class="thumbnail"><img src="{{ thumb.url }}" alt="{{ product.get_title }}"></a>
                {% endthumbnail %}
            {% endwith %}
        </p>
        <div class="promotion-{{ promotion|slugify|lower }}-description">
            <h3><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h3>
            <div class="product_price">
                {% include "catalogue/partials/stock_record.html" %}
            </div>
            {{ promotion.description|safe }}
        </div>
    </div>
</article>
