{% extends 'layout.html' %}
{% load i18n %}

{% block headertext %}
    {% trans "Dashboard access" %}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans "Home" %}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{% trans "Dashboard access" %}</li>
    </ul>
{% endblock %}

{% block content %}
    <form action="." method="post">
        <p>{% trans "Let us know your email address and we'll create a dashboard user for you and email you the details." %}</p>
        {% csrf_token %}
        {% include 'partials/form_fields.html' with form=form %}
        <button type="submit" class="btn btn-large btn-primary" data-loading-text="{% trans 'Sending...' %}">{% trans "Send email" %}</button>
    </form>
{% endblock %}
