{% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block title %}
{% trans "Shipping address" %} | {% trans "Order" %} {{ order.number }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block header %}
<div class="page-header">
	<h2>{% blocktrans %}Edit shipping address for order {{ order.number }}{% endblocktrans %}</h2>
</div>
{% endblock header %}

{% block content %}

<form action="." method="post" class="well form-horizontal">
	{% csrf_token %}
	{% include "partials/form_fields.html" with form=form %}
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">{% trans "Update address" %}</button>
		or <a href="{% url dashboard:order-detail order.number %}">{% trans "cancel" %}</a>
	</div>
</form>

{% endblock content %}

