body {
  background: #e1e1e1;
}
.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%;
}
.content {
  background: #fff;
  -webkit-box-shadow: -5px 5px 7px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -5px 5px 7px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -5px 5px 7px 0px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
.content .page-content {
  padding: 30px 20px;
}
button {
  background-color: transparent;
}
.primary-nav, .primary-nav ul {
  margin: 0px;
  padding: 0px;
}
.primary-nav {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0px;
  background: #f7f7f7;
  border: 1px solid #bbb;
  width: 240px;
  position: fixed;
}
.primary-nav li {
  display: block;
}
.reports .primary-nav li.Reports > a,
.orders .primary-nav li.Manage.orders > a,
.users .primary-nav li.Users > a,
.content-blocks .primary-nav li.Content.blocks > a,
.catalogue .primary-nav li.Catalogue > a,
.promotions .primary-nav li.Promotions > a {
  color: #049cdb;
  text-shadow: 1px 1px 1px #fff;
  filter: dropshadow(color=#ffffff, offx=1, offy=1);
}
.primary-nav li ul li {
  margin: 0px;
  border-top: 1px solid #ddd;
  font-size: 11px;
}
.primary-nav li ul li:first-child {
  border-top: 1px solid #bbb;
}
.primary-nav a {
  display: block;
  padding: 5px 15px;
}
.primary-nav > li > a {
  background: #ddd;
  border-top: 1px solid #bbb;
  -webkit-box-shadow: inset -1px 1px 0px 0px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset -1px 1px 0px 0px rgba(255, 255, 255, 0.5);
  box-shadow: inset -1px 1px 0px 0px rgba(255, 255, 255, 0.5);
  font-weight: bold;
  color: #444;
}
.primary-nav li:first-child > a {
  border-top: none;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
}
.primary-nav li ul li a:hover {
  background: #efefef;
}
.primary-nav .submenu {
  background: url(../img/ui/icon_arrow_left.png) no-repeat 94% 50% #dddddd;
}
.primary-nav .viewed {
  background: url(../img/ui/icon_arrow_down.png) no-repeat 94% 50% #dddddd;
}
.primary-nav li:first-child .submenu {
  border-top: none;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
}
.primary-nav li:last-child .submenu {
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
}
.page-header {
  background-color: whiteSmoke;
  padding: 20px 20px 10px;
}
.page-header h1 {
  font-size: 24px;
  line-height: 36px;
}
h2 {
  font-size: 18px;
}
.page-header.action {
  *zoom: 1;
  margin-bottom: 0px;
}
.page-header.action:before, .page-header.action:after {
  display: table;
  content: "";
}
.page-header.action:after {
  clear: both;
}
.page-header.action .open .dropdown-toggle {
  color: #fff;
  background: #444;
}
.page-header.action .btn {
  margin-left: 10px;
}
.page-header.action .tabs .dropdown-menu {
  top: 48px;
  left: 10px;
}
.page-header.action .tabs {
  border-width: 0px;
  margin-bottom: 0px;
}
.page-header.action h1, .page-header.action h2 {
  float: left;
  margin-bottom: 0px;
}
.page-header.action .orders_search {
  clear: both;
  margin-bottom: 18px;
}
.page-header.action .pull_out.viewed {
  background-color: rgba(0, 0, 0, 0.05);
  margin-bottom: 18px;
}
.page-header.action .pull_out, .page-header.action a.dd_menu {
  display: block;
  float: left;
  line-height: 32px;
  font-size: 18px;
  margin-left: 10px;
  padding: 4px 10px;
  color: #0088cc;
}
.page-header.action .pull_out.viewed, .page-header.action a.dd_menu.viewed {
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
}
.page-header.action a.dd_menu:hover {
  background: #444;
  color: #fff;
}
.controls ul {
  margin-left: 0px;
  list-style: none;
}
.file_upload {
  *zoom: 1;
}
.file_upload:before, .file_upload:after {
  display: table;
  content: "";
}
.file_upload:after {
  clear: both;
}
.file_upload form, .file_upload p {
  float: left;
}
.file_upload label {
  width: auto;
  padding-top: 0px;
  margin-right: 10px;
}
.file_upload input {
  line-height: 18px;
  background: none;
}
.alert-message.block-message.file_upload p {
  margin-right: 10px;
}
.order_table label {
  width: auto;
  margin-left: 20px;
  line-height: 27px;
  float: left;
  margin-right: 10px;
}
.order_table label:first-child {
  margin-left: 10px;
}
.order_table table {
  margin-top: 18px;
}
.order_table .row {
  margin-left: 0px;
}
.tabs.product_managment {
  margin-bottom: 0px;
}
.tabs.product_managment li.active a {
  background-color: #efefef;
}
.fontsize ul {
  *zoom: 1;
  margin-left: 10px;
  margin-bottom: 0px;
}
.fontsize ul:before, .fontsize ul:after {
  display: table;
  content: "";
}
.fontsize ul:after {
  clear: both;
}
.fontsize li {
  float: left;
  list-style: none;
  margin-right: 10px;
  line-height: 27px;
  padding-top: 6px;
}
.fontsize #larger, .fontsize #smaller {
  cursor: pointer;
  color: #0088cc;
}
.fontsize #larger {
  font-size: 18px;
  line-height: 23px;
}
