{% extends "layout.html" %}

{% block header %}
<h2>Browse all products</h2>
{% endblock header %}


{% block content %}

<ol>
{% for product in products.object_list %}
<li>
    <a href="{{ product.get_absolute_url }}">{{ product.get_title }}</a><br/>
    {% if product.stockrecord %} 
        &pound;{{ product.stockrecord.price_incl_tax }}
    {% else %}
        Not available
    {% endif %}    
</li>
{% endfor %}
</ol>

<div class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?page={{ products.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ products.number }} of {{ products.paginator.num_pages }}.
        </span>

        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock content %}

