{% extends "layout.html" %}

{% block header %}
<h2>{{ summary }}</h2>
{% endblock header %}


{% block content %}

{% if products.count %}

<ol>
{% for product in products %}
<li>
    <a href="{{ product.get_absolute_url }}">{{ product.get_title }}</a><br/>
    {% if product.is_group %}
        From &pound;{{ product.min_variant_price_incl_tax }}
    {% else %}
        {% if product.has_stockrecord %} 
            &pound;{{ product.stockrecord.price_incl_tax }}<br/>
            {{ product.stockrecord.availability }}
        {% else %}
            Not available    
        {% endif %}
    {% endif %}    
</li>
{% endfor %}
</ol>

{% if page_obj %}
<div class="pagination">
    <span class="step-links">
    
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% else %}

<p>No products found.</p>

{% endif %}

{% endblock content %}

