{% extends 'dashboard/layout.html' %}
{% block body_class %}promotions{% endblock %}
{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url promotions:home %}">Dashboard</a>
        <span class="divider">/</span>
    </li>
    <li class="active"><a href="."></a></li>
</ul>
{% endblock %}
<!-- <h2>{{ heading }}</h2> -->
{% block header %}
<div class="page-header">
    <h1>{{ heading }}</h1>
</div>
{% endblock header %}
{% block dashboard_content %}


{% block promotion_form %}
<form action="." method="post" enctype="multipart/form-data" class="form-horizontal">
	{% csrf_token %}
	{% include "partials/form_fields.html" with form=form %}
	<div class="form-actions">
        <button type="submit" class="btn btn-primary">Save</button>
		or <a href="{% url dashboard:promotion-list %}"><button class="btn btn-danger">Cancel</button></a>
	</div>
</form>
{% endblock %}

{% if promotion %}
<div class="sub-header">
    <h2>Pages displaying this content block</h2>
</div>

{% if links %}
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Page URL</th>
			<th>Position on page</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for link in links %}
		<tr>
			<td>{{ link.page_url }}</td>
			<td>{{ link.position }}</td>
			<td>
                <form action="." method="post" >
					{% csrf_token %}
					<input type="hidden" name="action" value="remove_from_page" />
					<input type="hidden" name="pagepromotion_id" value="{{ link.id }}" />
					<button class="btn btn-danger btn-small" type="submit">Remove from page</button>
				</form>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% else %}
<p>This promotion is not displayed anywhere at the moment.</p>
{% endif %}


<div class="sub-header">
    <h3>Add to a page</h3>
</div>
<form action="." method="post" class="form-horizontal">
	{% csrf_token %}
	<input type="hidden" name="action" value="add_to_page" />
	{% include "partials/form_fields.html" with form=link_form %}
    <!-- {{ link_form.as_table }} -->
	<div class="form-actions">
	  <button type="submit" class="btn btn-success">Add</button>
	</div>
</form>

{% endif %}

{% endblock %}
