{% extends 'dashboard/layout.html' %}
{% load currency_filters %}
{% block body_class %}content-blocks{% endblock %}
{% block title %}
Content blocks | {{ block.super }}
{% endblock %}

{% block header %}
<div class="page-header">
    <h1>Content block management</h1>
</div>
{% endblock header %}


{% block dashboard_content %}

<div class="well well-info">
  <a href="{% url dashboard:promotion-list-by-page %}" class="btn">View promotions by page</a>
</div>

<div class="sub-header">
    <h2>Content blocks</h2>
</div>
{% if promotions %}

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Number of times used</th>
			<th>Date created</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for promotion in promotions %}
		<tr>
			<td>{{ promotion.name }}</td>
			<td>{{ promotion.type }}</td>
			<td>{{ promotion.num_times_used }}</td>
			<td>{{ promotion.date_created }}</td>
			<td>
				<a class="btn btn-success" href="{% url dashboard:promotion-update promotion.code promotion.id %}">Edit</a>
				<a class="btn btn-danger" href="{% url dashboard:promotion-delete promotion.code promotion.id %}">Delete</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% else %}

<p>No content blocks found.</p>

{% endif %}

<div class="sub-header">
    <h3>Create a new content block</h3>
</div>
<form action="{% url dashboard:promotion-create-redirect %}" method="get" class="form-horizontal">
    {% include "partials/form_fields.html" with form=select_form %}
	<div class="form-actions">
	   <button type="submit" class="btn btn-primary">Create block</button>
	</div>
</form>

{% endblock dashboard_content %}
