{% extends 'dashboard/layout.html' %}
{% load currency_filters %}

{% block title %}
Content blocks | {{ block.super }}
{% endblock %}

{% block dashboard_content %}

<h1>Content block management</h1>

<p><a href="{% url dashboard:promotion-list-by-page %}" class="btn">View promotions by page</a></p>

<h2>Content blocks</h2>
{% if promotions %}

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Number of times used</th>
			<th>Date created</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for promotion in promotions %}
		<tr>
			<td>{{ promotion.name }}</td>
			<td>{{ promotion.type }}</td>
			<td>{{ promotion.num_times_used }}</td>
			<td>{{ promotion.date_created }}</td>
			<td>
				<a class="btn btn-success" href="{% url dashboard:promotion-update promotion.code promotion.id %}">Edit</a>
				<a class="btn btn-danger" href="{% url dashboard:promotion-delete promotion.code promotion.id %}">Delete</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% else %}

<p>No content blocks found.</p>

{% endif %}

<h3>Create a new content block</h3>
<form action="{% url dashboard:promotion-create-redirect %}" method="get">
    {{ select_form.as_p }}
	<button type="submit" class="btn btn-primary">Go!</button>
</form>

{% endblock dashboard_content %}
