{% extends 'dashboard/layout.html' %}

<h2>Create new HTML content block</h2>

{% block dashboard_content %}
<h1>{{ heading }}</h1>

<form action="." method="post">
	{% csrf_token %}
	<table>
		{{ form.as_table }}
		<tr>
			<th></th>
			<td><button type="submit" class="btn btn-primary">Save</button>
				or <a href="{% url dashboard:promotion-list %}">cancel</a>
			</td>
		</tr>
	</table>
</form>

{% if promotion %}
<h2>Pages displaying this content block</h2>

{% if links %}
<table class="table table-striped">
	<thead>
		<tr>
			<th>Page URL</th>
			<th>Position on page</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for link in links %}
		<tr>
			<td>{{ link.page_url }}</td>
			<td>{{ link.position }}</td>
			<td>
				<form action="." method="post">
					{% csrf_token %}
					<input type="hidden" name="action" value="remove_from_page" />
					<input type="hidden" name="pagepromotion_id" value="{{ link.id }}" />
					<button class="btn btn-danger btn-small" type="submit">Remove from page</button>
				</form>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% else %}
<p>This promotion is not displayed anywhere at the moment.</p>
{% endif %}


<h3>Add to a page</h3>
<form action="." method="post">
	{% csrf_token %}
	<input type="hidden" name="action" value="add_to_page" />
	<table>
		{{ link_form.as_table }}
		<tr>
			<th></th>
			<td><button type="submit" class="btn btn-success">Add</button>
			</td>
		</tr>
	</table>
</form>

{% endif %}

{% endblock %}
