/*

Css Chart created by Alen Grakalic
Brought to you by Css Globe (cssglobe.com)

*/

#order-graph {
    position: relative;
    margin-bottom: 10em;
    width: 99%;
}

ul.yAxis{
    width: 9%;
    margin:14px 0 0 0;
    padding:0;
    display:inline;
    float: left;
}

ul.yAxis li{
    margin-left: 4em;
    list-style:none;
    height: 30px;
    text-align: right;
}

dl#csschart, dl#csschart dt, dl#csschart dd{
    margin:0;
    padding:0;
}

dl#csschart{
    width: 99%;
    height: 300px;
    padding-left:11px;
}

dl#csschart dd{
    position:relative;
    float:left;
    display:inline;
    width: 3.7%;
    height:330px;
    margin-top:22px;
}

dl#csschart dd em{
    position: absolute;
    bottom: -2em;
    left: -3ex;
}


dl#csschart span{
    position:absolute;
    display:block;
    width: 90%;
    bottom:0;
    left:0;
    z-index:1;
    color:#555;
    text-decoration:none;
}

dl#csschart span b{
    display:block;
    font-weight:bold;
    font-style:normal;
    float:left;
    line-height:200%;
    color:#444;
    position:absolute;
    top: 5px;
    /* bottom: 5px; */
    left:3px;
    text-align:center;
    width:23px;
}

dl#csschart span{
    height:50%;
    background: #87e0fd; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
    background: linear-gradient(-45deg, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
