body {
  background: #fff;
}
.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%;
}
.navbar-fixed-top .navbar-inner {
  padding-left: 20px;
  padding-right: 20px;
}
.subnav-fixed {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  top: 40px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #D5D5D5;
}
.subnav {
  background-color: #f2f2f2;
  background-image: -moz-linear-gradient(top, #f5f5f5, #eeeeee);
  background-image: -ms-linear-gradient(top, #f5f5f5, #eeeeee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #eeeeee);
  background-image: -o-linear-gradient(top, #f5f5f5, #eeeeee);
  background-image: linear-gradient(top, #f5f5f5, #eeeeee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
  height: 36px;
  width: 100%;
}
.subnav .nav {
  padding-left: 20px;
  padding-right: 20px;
}
.subnav .nav > li > a {
  margin: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #E5E5E5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.reports .subnav li.Reports > a,
.orders .subnav li.Manage.orders > a,
.users .subnav li.Users > a,
.content-blocks .subnav li.Content.blocks > a,
.catalogue .subnav li.Catalogue > a,
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #E9E9E9;
  border-right-color: #DDD;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
}
.breadcrumb {
  margin-top: 100px;
}
.content {
  background: #fff;
  /*-webkit-box-shadow: -5px 5px 7px 0px rgba(0, 0, 0, .2);
    -moz-box-shadow: -5px 5px 7px 0px rgba(0, 0, 0, .2);
    box-shadow: -5px 5px 7px 0px rgba(0, 0, 0, .2);
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;*/

}
.content .page-content {
  padding: 30px 0px;
}
button {
  background-color: transparent;
}
.primary-nav, .primary-nav ul {
  margin: 0px;
  padding: 0px;
}
.primary-nav {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0px;
  background: #f7f7f7;
  border: 1px solid #bbb;
  width: 240px;
  position: fixed;
}
.primary-nav li {
  display: block;
}
.reports .primary-nav li.Reports > a,
.orders .primary-nav li.Manage.orders > a,
.users .primary-nav li.Users > a,
.content-blocks .primary-nav li.Content.blocks > a,
.catalogue .primary-nav li.Catalogue > a {
  color: #049cdb;
  text-shadow: 1px 1px 1px #fff;
  filter: dropshadow(color=#ffffff, offx=1, offy=1);
}
.primary-nav li ul li {
  margin: 0px;
  border-top: 1px solid #ddd;
  font-size: 11px;
}
.primary-nav li ul li:first-child {
  border-top: 1px solid #bbb;
}
.primary-nav a {
  display: block;
  padding: 5px 15px;
}
.primary-nav > li > a {
  background: #ddd;
  border-top: 1px solid #bbb;
  -webkit-box-shadow: inset -1px 1px 0px 0px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset -1px 1px 0px 0px rgba(255, 255, 255, 0.5);
  box-shadow: inset -1px 1px 0px 0px rgba(255, 255, 255, 0.5);
  font-weight: bold;
  color: #444;
}
.primary-nav li:first-child > a {
  border-top: none;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
}
.primary-nav li ul li a:hover {
  background: #efefef;
}
.primary-nav .submenu {
  background: url(../img/ui/icon_arrow_left.png) no-repeat 94% 50% #dddddd;
}
.primary-nav .viewed {
  background: url(../img/ui/icon_arrow_down.png) no-repeat 94% 50% #dddddd;
}
.primary-nav li:first-child .submenu {
  border-top: none;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
}
.primary-nav li:last-child .submenu {
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
}
.page-header {
  background-color: #ffffff;
  padding: 10px 20px 10px 0px;
  margin-bottom: 0px;
}
.page-header h1 {
  /*        font-size: 24px;
        line-height: 36px;*/

}
h3 {
  margin-bottom: 4.5px;
}
.search-adv .control-group.pull-left > label {
  width: 100px;
}
.search-adv .control-group.pull-left .controls {
  margin-left: 120px;
}
.search-adv .control-group.pull-left .controls > label {
  padding-left: 0px;
}
.search-adv .control-group.pull-left .controls .radio ul {
  padding: 0px;
  margin: 0px;
  *zoom: 1;
}
.search-adv .control-group.pull-left .controls .radio ul:before, .search-adv .control-group.pull-left .controls .radio ul:after {
  display: table;
  content: "";
}
.search-adv .control-group.pull-left .controls .radio ul:after {
  clear: both;
}
.search-adv .control-group.pull-left .controls .radio ul > li {
  list-style: none;
}
.search-adv .control-group.pull-left .controls .radio ul li {
  float: left;
}
.search-adv .control-group.pull-left .controls .radio ul li li {
  float: none;
}
.search-adv .control-group.pull-left .controls .radio ul li label {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
  margin-left: 10px;
  padding-left: 18px;
}
.product-new .form-inline.pull-left {
  margin-right: 15px;
}
.no-float {
  float: none;
}
.control-group.pull-left.no-float > label {
  width: 140px;
}
.control-group.pull-left.no-float .controls {
  margin-left: 160px;
}
.pull-left.btn {
  margin-left: 20px;
}
.pull-left.no-float.btn {
  margin-left: 160px;
}
.page-header.action {
  *zoom: 1;
  margin-bottom: 0px;
}
.page-header.action:before, .page-header.action:after {
  display: table;
  content: "";
}
.page-header.action:after {
  clear: both;
}
.page-header.action .open .dropdown-toggle {
  color: #fff;
  background: #444;
}
.page-header.action .btn {
  margin-left: 10px;
}
.page-header.action .tabs .dropdown-menu {
  top: 48px;
  left: 10px;
}
.page-header.action .tabs {
  border-width: 0px;
  margin-bottom: 0px;
}
.page-header.action h1, .page-header.action h2 {
  float: left;
  margin-bottom: 0px;
}
.page-header.action .orders_search {
  clear: both;
  margin-bottom: 18px;
}
.page-header.action .pull_out.viewed {
  background-color: rgba(0, 0, 0, 0.05);
  margin-bottom: 18px;
}
.page-header.action .pull_out, .page-header.action a.dd_menu {
  display: block;
  float: left;
  line-height: 32px;
  font-size: 18px;
  margin-left: 10px;
  padding: 4px 10px;
  color: #0088cc;
}
.page-header.action .pull_out.viewed, .page-header.action a.dd_menu.viewed {
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
}
.page-header.action a.dd_menu:hover {
  background: #444;
  color: #fff;
}
.controls ul {
  margin-left: 0px;
  list-style: none;
}
/*.form-inline {
  margin-bottom:0px;
}*/
.icon:before {
  padding: 7px 6px;
  background: #000000;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  margin-right: 5px;
}
.file_upload {
  *zoom: 1;
}
.file_upload:before, .file_upload:after {
  display: table;
  content: "";
}
.file_upload:after {
  clear: both;
}
.file_upload form, .file_upload p {
  float: left;
}
.file_upload label {
  width: auto;
  padding-top: 0px;
  margin-right: 10px;
}
.file_upload input {
  line-height: 18px;
  background: none;
}
.alert-message.block-message.file_upload p {
  margin-right: 10px;
}
.order_table label {
  width: auto;
  margin-left: 20px;
  line-height: 27px;
  float: left;
  margin-right: 10px;
}
.order_table label:first-child {
  margin-left: 10px;
}
.order_table table {
  margin-top: 18px;
}
.order_table .row {
  margin-left: 0px;
}
.tabs.product_managment {
  margin-bottom: 0px;
}
.tabs.product_managment li.active a {
  background-color: #efefef;
}
.tabbable.dashboard .nav {
  margin-bottom: 0px;
}
.tabbable.dashboard .nav-tabs > li > a {
  background: #f5f5f5;
  background-color: #e0e0e0;
  background-image: -moz-linear-gradient(top, #cccccc, #ffffff);
  background-image: -ms-linear-gradient(top, #cccccc, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cccccc), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #cccccc, #ffffff);
  background-image: -o-linear-gradient(top, #cccccc, #ffffff);
  background-image: linear-gradient(top, #cccccc, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ffffff', GradientType=0);
  border: 1px solid #DDD;
  margin: 6px 10px 0 0;
  color: #555555;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}
.tabbable.dashboard .nav-tabs > li.active a {
  background: #f5f5f5;
  border-bottom-color: transparent;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -ms-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -o-linear-gradient(top, #eeeeee, #ffffff);
  background-image: linear-gradient(top, #eeeeee, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
  border-bottom: 1px solid #fff;
  outline: none;
  font-weight: bold;
  color: #0088CC;
  margin-top: 0;
  height: 20px;
}
.tabbable.dashboard .tab-content {
  padding: 18px;
  border: 1px solid #e1e1e1;
  border-top-width: 0px;
  background: #fff;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.fields-full input[type=text], .fields-full textarea {
  width: 99%;
}
