{% extends "oscar/catalogue/detail.html" %}
{% load currency_filters %}
{% load history_tags %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load i18n %}

{% block product_gallery %}
<div class="span6">
    {# change this to flexslider }
</div>
{% endblock %}


{% block product_main %}
<div class="span6">
    <h4>{{ product.stockrecord.partner.name }}</h4>
    <h1>{{ product.get_title }}</h1>
    
    {% block product_stock_record %}
    {% include "catalogue/partials/stock_record.html" %}
    {% endblock %}
    
    {% comment %}
    {# will use this else where}
    {% if product.rating != None %}
    <p class="star {{ product.rating|as_stars }}">
        <small><a href="{% url catalogue:reviews-list product.slug product.id %}">
                {% blocktrans count reviews|length as num_reviews %}
                1 custom review
                {% plural %}
                {{ num_reviews }} customer reviews
                {% endblocktrans %}
        </a></small>
        &nbsp;
        <a id="write_review" href="{% url catalogue:reviews-add product.slug product.id %}#addreview" class="btn btn-success btn-small">{% trans "Write a review" %}</a>
    </p>
    {% else %}
        <p class="star">
            <a id="write_review" href="{% url catalogue:reviews-add product.slug product.id %}#addreview" class="btn btn-success btn-small">{% trans "Write a review" %}</a>
        </p>
    {% endif %}
    {% endcomment %}
     
    <hr/>

    {% block product_basket_form %}
    {% include "catalogue/partials/add_to_basket_form.html" %}
    {% endblock %}
</div><!-- /span6 -->
{% endblock %}