{% extends 'dashboard/layout.html' %}
{% load currency_filters %}

{% block header %}
<div class="page-header">
	<h1>{{ title }}</h1>
</div>
{% endblock header %}

{% block dashboard_content %}

<form action="." method="post" class="form-horizontal">
	{% csrf_token %}
	<table class="table">
		<tr>
			<th colspan="2">Product information</th>
		</tr>
		{{ form.as_table }}
		<tr>
			<th colspan="2">Stock and price information</th>
		</tr>
		{{ stockrecord_form.as_table }}
		<tr>
			<th></th>
			<td><button class="btn" type="submit">Save</button> or 
				<a class="btn" href="{% url dashboard:catalogue-product-list">cancel</a>.
			</td>
		</tr>
	</table>
</form>
{% if product %}
<p><a class="btn btn-success" href="{{ product.get_absolute_url }}">View on site</a></p>
{% endif %}

{% endblock dashboard_content %}
