{% extends "base.html" %}
{% load i18n %}

{% block main-column %}
    {% if notification.is_active %}
    <div class="alert alert-success">
        {% blocktrans with notification_email=notification.email %}Thank you for subscribing. Notifications will be sent to {{ notification_email }}{% endblocktrans %}
    </div>
    {% else %}
    <div class="alert alert-error">
        {% blocktrans %}Something went wrong confirming your email address. Please try again or contact us.{% endblocktrans %}
    </div>
    {% endif %}
{% endblock %}
