{% extends "base.html" %}
{% load i18n %}

{% block main-column %}
    <div class="well well-danger">
        <h1>{% trans "Delete notification?" %}</h1>
        <form action="." method="post">
        {% blocktrans with email=notification.get_notification_email product_title=notification.product.title %}
            Are you sure that you want to delete notification of
            {{ email }} for product 
            {{ product_title }}?
        {% endblocktrans %}
            <div class="form-actions">
                <button type='submit' name='submit' class="btn btn-danger">{% trans "Delete" %}</button> or
                <a href="{% url customer:summary %}">{% trans "cancel" %}</a>
            </div>
        </form>
    </div>
{% endblock %}
