{% load i18n %}

<p>
{% blocktrans with site_domain=site.domain product=product site_name=site.name %}
You have just signed up for a notification to {{ product }} on our
website <a href="http://{{ site_domain }}">{{ site_name }}</a>. If this was you,
please feel confirm your email address by clicking the following link or
copying it into the address bar of your favourite browser.
{% endblocktrans %}
</p>
<p>
<a href="http://{{ site.domain }}{{ notification.get_confirm_url }}">http://{{ site.domain }}{{ notification.get_confirm_url }}</a>
</p>
<p>
{% url catalogue:detail product.slug product.id as product_url %}

{% blocktrans with email=notification.email product_title=product.title product_url=product_url %}
We will send you an email to {{ email }} as soon as
<a href="http://{{ site.domain }}{{ product_url }}">{{ product_title }}</a> is back in stock.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
If you want to disable your notification at any point in time, use the
following link to unsubscribe:
{% endblocktrans %}
</p>

<p><a href="http://{{ site.domain }}{{ notification.get_unsubscribe_url }}">http://{{ site.domain }}{{ notification.get_unsubscribe_url }}</a></p>

<strong>{% trans "Thank you very much for your interest." %}</strong>
