{% extends "catalogue/detail.html" %}
{% load currency_filters %}
{% load history_tags %}
{% load i18n %}

{% block content %}
<article class="product_page"><!-- Start of product page -->
    <div class="row-fluid">
        <div class="span6">
            {% include "catalogue/partials/gallery.html" %}
        </div><!-- /span6 -->

        <div class="span6">
            <h1>
            {% blocktrans with product_title=product.get_title %}
            Notification for {{ product_title }}
            {% endblocktrans %}
            </h1>

            {% include "notification/partials/notification_form.html" with form=form %}

            {% if reviews %}
                    <ul class="review_count">
                            {% for review in reviews %}
                            <li class="{{ review.score }}">{{ review.score }}</li>
            {% endfor %}
                    </ul>
            {% else %}
            <p class="star">{% trans "No Rating" %}

            <a href="{% url catalogue:reviews-add product.slug product.id %}#addreview">{% trans "Add review" %}</a>
            </p>
            {% endif %}

            <p><strong>{% trans "Product Code:" %}</strong> <code>{{ product.upc }}</code></p>

            <hr/>

			{% if product.description %}
            <ul>
				<li><a href="#product_description">{% trans "Read the full description" %}</a></li>
            </ul>
			{% endif %}

            {% include "catalogue/partials/add_to_basket_form.html" %}
        </div><!-- /span6 -->
    </div><!-- /row-fluid -->

	{% block product_description %}
	{% if product.description %}
    <div id="product_description" class="sub-header">
		<h2>{% trans "Product Description" %}</h2>
    </div>
    <p>{{ product.description }}</p>
	{% endif %}
	{% endblock %}

</article><!-- End of product page -->
{% endblock content %}
