{% load django_tables2 %}
{% load i18n %}
<div class="btn-toolbar">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% trans "Actions" %}
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            {% load dashboard_tags %}
            {% has_dashboard_permission "catalogue-option-update" "catalogue_dashboard" as can_update_option %}
            {% has_dashboard_permission "catalogue-option-delete" "catalogue_dashboard" as can_delete_option %}
            {% if can_update_option %}
            <a class="dropdown-item" href="{% url 'dashboard:catalogue-option-update' pk=record.id %}{% querystring %}">
                {% trans "Edit Option" %}
            </a>
            {% endif %}
            {% if can_delete_option %}
            <a class="dropdown-item" href="{% url 'dashboard:catalogue-option-delete' pk=record.id %}{% querystring %}">{% trans "Delete" %}</a>
            {% endif %}
        </div>
    </div>
</div>
