{% extends "oscar/dashboard/catalogue/product_children_bulk_action.html" %}
{% load i18n %}

{% block prepend_form %}
<div class="alert alert-warning">
    <strong>{% trans "Note:" %}</strong>
    {% trans "This action will update <strong>all existing stockrecords</strong> of each selected variant." %}
</div>
{% endblock prepend_form %}

{% block extra_column_headers %}
<th>{% trans "Current price" %}</th>
{% endblock %}

{% block extra_column_values %}
{% with sr=child.stockrecords.first %}
<td>{% if sr %}{{ sr.price_currency }} {{ sr.price|default:"-" }}{% else %}-{% endif %}</td>
{% endwith %}
{% endblock %}
