{% extends 'oscar/dashboard/table.html' %}
{% load i18n %}

{% block table.caption %}
    {{ block.super }}
    <div class="float-right">
        <div class="form-inline">
            <i class="fas fa-sync-alt mr-1"></i> <span class="mr-2">{% trans "Bulk Actions" %}</span>
            <label class="mr-2">{% trans "With selected products:" %}</label>
            <select name="action" class="form-control form-control-sm mr-2">
                <option value="">-- {% trans "choose action" %} --</option>
                <option value="make_public">{% trans "Make public" %}</option>
                <option value="make_non_public">{% trans "Make non-public" %}</option>
                <option value="make_children_public">{% trans "Make children public" %}</option>
                <option value="make_children_non_public">{% trans "Make children non-public" %}</option>
                <option value="set_children_price">{% trans "Set children price" %}</option>
            </select>
            <input type="submit" value="{% trans 'Go!' %}" class="btn btn-primary btn-sm" />
        </div>
    </div>
{% endblock %}
