{% extends "oscar/dashboard/catalogue/product_bulk_action.html" %}
{% load i18n form_tags currency_filters %}

{% block prepend_form %}
<div class="alert alert-warning">
    <strong>{% trans "Warning" %}:</strong>
    {% trans "This action will update <strong>all existing stockrecords</strong> of each selected product within the selected partners." %}
</div>
{% endblock prepend_form %}

{% block form_fields %}
{% include "oscar/dashboard/partials/form_field.html" with field=form.new_price %}
{% include "oscar/dashboard/partials/form_field.html" with field=form.increase_by_amount %}
{% include "oscar/dashboard/partials/form_field.html" with field=form.increase_by_percentage %}
{% if form.partners.field.queryset.exists %}
{% include "oscar/dashboard/partials/form_field.html" with field=form.partners %}
{% endif %}
{% endblock %}

{% block extra_column_headers %}
<th>{% trans "Lowest current price" %}</th>
<th>{% trans "Specific price" %}</th>
{% endblock %}


{% block extra_column_values %}
{% with price_field=form|child_price_field:product.pk %}
<td>{{ product.cheapest_price|currency:product.cheapest_price_currency|default:"-" }}</td>

<td>
    {% if row.selectable %}
        {{ price_field }}
        {% if price_field.errors %}<div class="text-danger small">{{ price_field.errors|join:", " }}</div>{% endif %}
    {% endif %}
</td>
{% endwith %}
{% endblock %}
