{% load i18n %}
{% load wishlist_tags %}

{% if user.is_authenticated %}
    {% with wishlists=user.wishlists.all %}
        {# Select wishlists that contains product #}
        {% wishlists_containing_product wishlists product as product_wishlists %}
        {% if wishlists|length > 0 %}

            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">{% trans "Add to wish list" %} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {% for wishlist in wishlists %}
                        <li>
                                <a href="{% url 'customer:wishlists-add-product' key=wishlist.key product_pk=product.pk %}">
                                    {% blocktrans with name=wishlist.name %}
                                        Add to '{{ name }}' wish list
                                    {% endblocktrans %}
                                </a>
                        </li>
                    {% endfor %}
                    <li><a href="{% url 'customer:wishlists-create-with-product' product_pk=product.pk %}">{% trans 'Create a new wishlist' %}</a></li>
                </ul>
            </div>
        {% else %}
            {# 1 or no existing wishlists - show a simple button #}
            <form id="add_to_wishlist_form" action="{% url 'customer:wishlists-add-product' product_pk=product.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn" data-loading-text="{% trans 'Adding...' %}">{% trans "Add to wish list" %}</button>
            </form>
        {% endif %}

        {% for wishlist in product_wishlists %}
            {% if forloop.first %}<hr>{% endif %}
            <form action="{% url 'customer:wishlists-remove-product' wishlist.key product.id %}" method="post">
                {% csrf_token %}
                {% blocktrans with name=wishlist.name url=wishlist.get_absolute_url %}
                    Product is in <a href="{{ url }}">'{{ name }}'</a> wishlist.
                {% endblocktrans %}
                <button type="submit" class="btn btn-small btn-danger pull-right" data-loading-text="{% trans 'Removing...' %}">{% trans "Remove" %}</button>
            </form>
            {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
    {% endwith %}
{% else %}
    <button class="btn" disabled="disabled" title="{% trans 'Please login to add products to a wish list.' %}">{% trans 'Add to wish list' %}</button><br/>
{% endif %}
