{% load currency_filters %}
{% load i18n %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}

{% if product.is_group %}
    <span>
        {% blocktrans with product.min_variant_price_incl_tax|currency as price %} <i>From</i> {{ price }}{% endblocktrans %}
    </span>
{% else %}
    <span>
        {% with price=session.price.get_unit_price %}
            {% if session.stockrecord.price_retail > price.incl_tax %}
                <del>{{ session.stockrecord.retail_price|currency }}</del>
            {% endif %}
            {{ price.incl_tax|currency }}
        {% endwith %}
    </span>
{% endif %}
