{% load currency_filters %}<p xmlns="http://www.w3.org/1999/html">Hello,</p>

<p>We are pleased to confirm your order {{ order.number }} has been received and
will be processed shortly.</p>

<p>Your order contains:</p>

<ul>
	{% for line in order.lines.all %}
	<li>{{ line.title }} - quantity: {{ line.quantity }} - price: {{ line.line_price_incl_tax|currency }}</li>
	{% endfor %}
</ul>
<p>
Basket total: {{ order.basket_total_incl_tax|currency }}</br>
Shipping: {{ order.shipping_incl_tax|currency }}</br>
Order Total: {{ order.total_incl_tax|currency }}
</p>

<p>Shipping address:</p>
<p>{% for field in order.shipping_address.active_address_fields %}  {{ field }}<br/>
{% endfor %}</p>

{% if status_url %}
<p>You can view the status of this order by clicking <a href="{{ status_url }}" title="order status">here</a>
{% endif %}

<p>The team</p>
