{% load i18n %}
{% load django_tables2 %}

<p>
{% if creating %}
    {% blocktrans with name=product.get_title %}
        Created product '{{ name }}'.
    {% endblocktrans %}
{% else %}
    {% blocktrans with name=product.get_title %}
        Updated product '{{ name }}'.
    {% endblocktrans %}
{% endif %}
</p>

<p>
    <a href="{% url 'dashboard:catalogue-product' pk=product.pk %}{% querystring %}" class="btn btn-success">{% trans "Edit again" %}</a>
    <a href="{{ product.get_absolute_url }}" class="btn btn-success">{% trans "View it on the site" %}</a>
</p>
