{% load i18n %}

{% if product.stockrecord.num_in_stock == 0 %}
    {% if user.is_authenticated or anon_notifications != "hide" %}
    <form method="post" action="{% url catalogue:notification-create product.slug product.id %}">
        {% csrf_token %}
		<p>{% trans "You can get an email notification when this product is in stock." %}</p>
        {% include "partials/form_fields.html" with form=form %}
        <button type="submit" class="btn btn-info">{% trans "Notify me" %}</button>
    </form>
    {% endif %}
{% endif %}
