{% load i18n %}
<div class="sub-header">
    <h3>{% trans "Notifications" %}</h3>
</div>
{% if not notification_list %}
<p>{% trans "You do not have any notifications for out-of-stock products." %}</p>
{% else %}
    <form action="." method="POST">
    {% csrf_token %}
        <table class="table table-stiped table-bordered">
            <tr>
                <th>{% trans "Product Title" %}</th>
                <th>{% trans "Product Availability" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Date Subscribed" %}</th>
                {% if edit_enabled %}
                <th></th>
                {% endif %}
            </tr>

            {% for notification in notification_list %}
            <tr>
                <td>
                    {% with product=notification.product %}
                    <a href="{% url catalogue:detail product.slug product.id %}">
                        {{ product.title }}
                    </a>
                    {% endwith %}
                </td>
                <td>
                    {% if notification.product.stock_record.num_in_stock > 0 %}
                        {{ notification.product.stock_record.num_in_stock }}
                    {% else %}
                        {% trans "Not in Stock" %}
                    {% endif %}
                </td>
                <td>
                    {% include "notification/partials/status.html" %}
                </td>
                <td>{{ notification.date_created|date }}</td>
                {% if edit_enabled == 'yes' %}
                <td>
                    {% if not notification.is_active %}
                        <button class="btn btn-success" type='submit' name='activate' value='{{ notification.id }}'>{% trans "Activate" %}</button>
                    {% else %}
                        <button class="btn btn-danger" type='submit' name='deactivate' value='{{ notification.id }}'>{% trans "Deactivate" %}</button>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </form>
{% endif %}
