{% extends "catalogue/detail.html" %}

{% block product_review %}
<div id="addreview" class="review_add">
    <legend>Leave a product review</legend>
    <form method="post" action="./#addreview" class="form-horizontal" >
        {% csrf_token %}
        {% include "partials/form_fields.html" with form=form %}
        <div class="form-actions">
            <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
			or
            <a href="{{ product.get_absolute_url }}" >cancel</a>
        </div>
    </form>
</div>
{% endblock %}
