<p>
You have just signed up for a notification to {{ product }} on our
website <a href="{{ site.domain }}">{{ site.name }}</a>. If this was you,
please feel confirm your email address by clicking the following link or
copying it into the address bar of your favourite browser.
</p>
<p>
<a>
    {{ notification.get_confirm_link }}
</a>
</p>
<p>
We will send you an email to {{ notification.email }} as soon as
<a href="{{ product.get_absolute_url }}">{{ product.title }}</a> is back in stock.
</p>

<p>
If you want to disable your notification at any point in time, use the 
following link to unsubscribe:
</p>

<p>
<a>
    {{ notification.get_unsubscribe_link }}
</a>
</p>

<strong>Thank you very much for your interest.</strong>
