{% extends "catalogue/detail.html" %}

{% block product_review %}
<div class="review_add">
    <legend>Leave a product review</legend>
    <form method="post" action="." class="form-inline" >
    
        {% csrf_token %}

        {% include "partials/form_fields.html" with form=form %}

        <div class="form-actions">
            <input type="submit" value="Submit" class="btn btn-primary" />
            <a href="{{ item.get_absolute_url }}" class="btn">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
