{% extends 'layout.html' %}

{% block header %}
    <h2>Dashboard</h2>
{% endblock header %}

{% block breadcrumbs %}
<li><a href=".">Home</a><span class="divider">/<span></li>
<li class="active"><a href=".">Dashboard</a></li>
{% endblock %}

{% block container_nav %}
    <div>
        <a href="{% url dashboard:order-summary %}">See statistics</a> |
        <a href="{% url dashboard:order-list %}">Manage orders</a> |
        <a href="{% url dashboard:reports-index %}">View reports</a> |
        <a href="{% url dashboard:users-index %}">User management</a> |
        {% comment %}<a href="{% url dashboard:events-index %}">Events</a>{% endcomment %}
    </div>
{% endblock %}

{% block content %}
    {% block dashboard_content %}{% endblock dashboard_content %}
{% endblock content %}
