{% extends "base_dashboard.html" %}
{% load currency_filters %}
{% load category_tags %}
{% load dashboard_tags %}

{% block title %}
Dashboard | {{ block.super }}
{% endblock %}

{% block layout %}
    <div class="navbar accounts">
        <div class="navbar-inner">
            <div class="container" style="width: auto;">
                <a href="{% url promotions:home %}" class="brand">Oscar</a>
                <ul class="nav pull-right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url customer:summary %}">Profile</a></li>
                        <li><a href="{% url customer:logout %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url customer:login %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div><!-- /navbar-inner -->
    </div><!-- /navbar -->

    <div class="container-fluid dashboard">
        <div class="row-fluid">
			{% dashboard_navigation %}
			<ul class="primary-nav">
				{% for item in nav_items %}
				<li>
				{% if item.is_heading %}
					<a href="#" class="submenu">{{ item.label }}</a>
				{% else %}
					<a class="submenu" href="{{ item.url }}">{{ item.label }}</a>
				{% endif %}
				{% if item.has_children %}
				<ul>
					{% for subitem in item.children %}
					<li><a href="{{ subitem.url }}">{{ subitem.label }}</a></li>
					{% endfor %}
				</ul>
				{% endif %}
				</li>
				{% endfor %}
			</ul>

            <div class="offset3 content">
                {% block header %}{% endblock %}
                <div class="page-content">
                    {% for message in messages %}
                	<div class="alert alert-{{ message.tags }}">
                		<a class="close">x</a>
                		{{ message }}
                	</div>
                    {% endfor %}
                    {% block content %}
						{% block dashboard_content %}{% endblock dashboard_content %}
                    {% endblock content %}
                </div>
            </div><!-- /span9 --> 

        </div><!-- /row-fluid -->        
    </div><!-- /container -->       
{% endblock %}
