{% load i18n %}

{% if form.is_bound and not form.is_valid %}
    <div class="alert alert-error">
        <strong>{% trans "Oops! We found some errors" %}</strong> - {% trans "please check the error messages below and try again" %}
    </div>
{% endif %}

{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error control-group error">
            <span class="help-inline"><i class="icon-exclamation-sign"></i> {{ error }}</span>
        </div>
    {% endfor %}
{% endif %}

{% for field in form %}
    {% include 'partials/form_field.html' with field=field %}
{% endfor %}
