{% extends 'oscar/basket/partials/basket_content.html' %}
{% load i18n %}

{% block formactions %}
<div class="form-actions">
    <a href="{% url paypal-redirect %}"><img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" align="left" style="margin-right:7px;"></a>
	<a href="{% url checkout:index %}" class="pull-right btn btn-large btn-primary">Proceed to checkout</a>

</div>
    <div class="alert alert-warning">
        <h4>{% trans "Demo site help" %}</h4>
        <p>{% trans "You can authenticate with PayPal using:" %}<br/>
            {% trans "Email:" %} <strong>david._1332854868_per@gmail.com</strong><br/>
            {% trans "Password:" %} <strong>332855006</strong>
        </p>
    </div>
{% endblock formactions %}
