{% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block header %}
<div class="page-header">
	<h1>{% trans "Delete page?" %}</h1>
</div>
{% endblock header%}

{% block dashboard_content %}
<form action="." method="post">
	{% csrf_token %}
	{{ form }}
	<p>{% blocktrans %}Delete page <strong>{{ object.title }}</strong> - are you sure?{% endblocktrans %}</p>
	<div class="form-actions">
		<button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
		{% trans "or" %} <a href="{% url dashboard:page-list %}">{% trans "cancel" %}</a>.
	</div>
</form>
{% endblock %}
