{% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block title %}
{{ commtype.name }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
	<li>
		<a href="{% url dashboard:index %}">{% trans "Dashboard" %}</a>
		<span class="divider">/</span>
	</li>
	<li>
		<a href="{% url dashboard:comms-list %}">{% trans "Emails" %}</a>
		<span class="divider">/</span>
	</li>
	<li class="active"><a href=".">{{ commtype.name }}</a></li>
</ul>
{% endblock %}

{% block dashboard_content %}

<div class="sub-header">
	<h2>{{ commtype.name }}</h2>
</div>

<form method="post" action=".">
<div class="tabbable">
	 {% if preview %}
	 <ul class="nav nav-tabs">
		 <li><a href="#tab1" data-toggle="tab">{% trans "Edit" %}</a></li>
		 <li class="active"><a href="#tab2" data-toggle="tab">{% trans "Preview" %}</a></li>
	 </ul>
	 {% endif %}
	 <div class="tab-content">
		 <div class="tab-pane {% if not preview %}active{% endif %}" id="tab1">
				 {% csrf_token %}
				 {% include 'partials/form_field.html' with field=form.name %}
				 <h4>Email content</h4>
				 <p>These fields are rendered using Django's template system.</p>
				 <p>You can use the following variables:</p>
				 <dl>
					 <dt><code>{{ user.get_full_name }}</code></dt>
					 <dd>The user who the email is sent to.</dd>
					 <dt><code>{{ user.email }}</code></dt>
					 <dd>The user who the email is sent to.</dd>
				 </dl>
				 {% include 'partials/form_field.html' with field=form.email_subject_template %}
				 {% include 'partials/form_field.html' with field=form.email_body_template %}
				 {% include 'partials/form_field.html' with field=form.email_body_html_template %}
				 <div class="well">
					 <button type="submit" class="btn btn-primary btn-large" name="show_preview">{% trans "Preview" %}</button>
				 </div>
				 <div class="well">
					 <button type="submit" class="btn btn-primary btn-large" name="send_preview">{% trans "Send preview email" %}</button>
				 </div>
		 </div>
		 <div class="tab-pane {% if preview %}active{% endif %}" id="tab2">
			 <table>
				 <tr>
					 <th>{% trans "Subject" %}</th>
					 <td>{{ preview.subject }}</td>
				</tr>
				 <tr>
					 <th>{% trans "Body text" %}</th>
					 <td>{{ preview.body }}</td>
				</tr>
				 <tr>
					 <th>{% trans "Body HTML" %}</th>
					 <td>{{ preview.html }}</td>
				</tr>
			</table>
		 </div>
	 </div>
</div>
<div class="well">
	<button type="submit" class="btn btn-primary btn-large">{% trans "Save" %}</button>
	{% trans "or" %} <a href="{% url dashboard:comms-list %}">{% trans "cancel" %}</a>.
</div>
</form>

{% endblock dashboard_content %}
